* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-wrapper {
    width: 940px;
    margin: 10px auto 0 auto;
    
    padding: 0 10px 0 10px;
}
#port-picker {
    float: left;
    
    height: 22px;
    margin-bottom: 10px;
}
    #port-picker li {
        float: left;
    }
    #port-picker select {
        height: 20px;
        line-height: 20px;
        
        float: left;
        margin-right: 10px;
        
        border: 1px solid silver;
    }
    #port-picker #port {
        width: 120px;
    }
    #port-picker #baud {
        width: 80px;
    }
    #port-picker #delay {
        width: 60px;
    }
    #port-picker a {
        float: left;
        
        display: block;
        
        width: 80px;
        height: 18px;
        border: 1px solid silver;
        
        line-height: 18px;
        text-align: center;
    }
    #port-picker a.refresh {
        margin-right: 10px;
        
        background-color: #5569d0;
        color: white;
    }
        #port-picker a.refresh:hover {
            text-decoration: none;
            background-color: #424d84;
        }
    #port-picker a.connect {
        margin-right: 10px;
        
        background-color: #be2222;
        color: white;
    }
        #port-picker a.connect:hover {
            text-decoration: none;
            background-color: #ea3131;
        }
    #port-picker a.connect.active {
        background-color: #0fab16;
    }
        #port-picker a.connect.active:hover {
            background-color: #13d81d;
        } 
#sensor-status {
    float: right;
    
    height: 22px;
    line-height: 22px;
}
    #sensor-status li {
        float: left;
        
        margin-left: 10px;
        padding: 0 12px 0 12px;
        
        height: 18px;
        line-height: 18px;
        
        color: white;
        text-align: center;
        
        border: 1px solid #c0c0c0;
        border-radius: 8px;
        background-color: #be2222;
    }
    #sensor-status .on {
        background-color: #0d8b13;
    }  
#tabs {
    position: absolute;
    margin-top: 1px;
}
    #tabs li {
        float: left;
        margin-right: 5px;
        
        border: 1px solid #848484;
    }
        #tabs li.first {
        }
        #tabs li.last {
        }
        #tabs li.active {
            border-bottom: 1px solid white;
        }
            #tabs li.active a {
                background-color: white;            
            }
            #tabs li.active a:hover {
                background-color: white;
                cursor: default;
            }
        #tabs li a {
            display: block;
            
            height: 15px;
            
            padding: 5px;
            padding-left: 12px;
            padding-right: 12px;
            
            background-color: #d0d0d0;
        }
        #tabs li a:hover {
            text-decoration: none;
            background-color: #acacac;
        } 
#content {
    margin-top: 27px;
    
    padding: 10px;
    
    background-color: white;
    height: 400px;
    
    border: 1px solid #848484;
} 

/* tab specific sections */
.tab-initial_setup .section {
    clear: both;
    padding-bottom: 10px;
}
.tab-initial_setup .section a {
    display: block;
    
    float: left;
    
    width: 160px;
    height: 24px;
    line-height: 24px;
    
    text-align: center;
    color: white;
    
    border: 1px solid #c0c0c0;
    background-color: #5569d0;
}
.tab-initial_setup .section a:hover {
    background-color: #424d84;
}
.tab-initial_setup .section p {
    margin-left: 180px;
    
    padding: 5px;
    
    border: 1px dotted silver;
}
table.pid_tuning {
    width: 100%;
    border-collapse:collapse;    
}
    table.pid_tuning, table.pid_tuning th, table.pid_tuning td {
        padding: 5px;
        border: 1px solid #8b8b8b;
    }
    table.pid_tuning tr:nth-child(odd) {
        background-color: #ececec;
    }    
    table.pid_tuning input {
        width: 130px;
        height: 18px;
        line-height: 18px;
        
        padding: 0 5px 0 5px;
        border: 1px solid silver;
        text-align: right;
    }
    table.pid_tuning a.update {
        display: block;
        
        width: 60px;
        height: 18px;
        line-height: 18px;
        
        color: white;
        text-align: center;
        
        border: 1px solid silver;
        background-color: #078814;
    }
    table.pid_tuning a.update:hover {
        text-decoration: none;
        background-color: #13b723;
    }