* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
    display: block;
    opacity: 1; /* required for chromium 33+ beta */
    
    width: 15px;
    
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    
    border-left: 1px solid silver;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#outter-wrapper {
    border: 1px solid silver;
}
#frame {
    height: 25px;
    line-height: 25px;
    
    -webkit-app-region: drag;
    
    background-color: white;
}
    #frame .title {
        float: left;
        
        margin-left: 15px;
        
        font-weight: bold;
        /* text-shadow: 1px 1px #e4e4e4; */
    }
    #frame .minimize {
        float: right;
        display: block;
        
        width: 26px;
        height: 20px;
        
        background: url('../images/controls/minimize.png') no-repeat 0 0;
    }
    #frame .maximize {
        float: right;
        display: block;
        
        width: 27px;
        height: 20px;
        
        background: url('../images/controls/maximize.png') no-repeat 0 0;
    }    
    #frame .close {
        float: right;
        display: block;
        
        width: 45px;
        height: 20px;
        
        background: url('../images/controls/close.png') no-repeat 0 0;
    }
    #frame a {
        cursor: default;
        -webkit-app-region: no-drag;
    }
    #frame a:hover {
        /* hover is disabled untill webkit-app-region: drag; starts to fire events or chromium implements native frame */
        /* background-position: 0px -20px; */ 
    }
    #frame a:active {
        background-position: 0px -40px;
    }
#main-wrapper {
    width: 940px;
    margin: 10px auto 0 auto;
    
    padding: 0 10px 0 10px;
}
#port-picker {
    float: left;
    
    height: 22px;
    margin-bottom: 10px;
}
    #port-picker li {
        float: left;
    }
    #port-picker select {
        height: 20px;
        line-height: 20px;
        
        float: left;
        margin-right: 10px;
        
        border: 1px solid silver;
    }
    #port-picker #port {
        width: 120px;
    }
    #port-picker #baud {
        width: 80px;
    }
    #port-picker #delay {
        width: 60px;
    }
    #port-picker a {
        float: left;
        
        display: block;
        
        width: 80px;
        height: 18px;
        border: 1px solid silver;
        
        line-height: 18px;
        text-align: center;
    }
    #port-picker a.connect {
        margin-right: 10px;
        
        background-color: #be2222;
        color: white;
    }
        #port-picker a.connect:hover {
            text-decoration: none;
            background-color: #ea3131;
        }
    #port-picker a.connect.active {
        background-color: #0fab16;
    }
        #port-picker a.connect.active:hover {
            background-color: #13d81d;
        }
    #port-picker input.auto_connect {
        float: left;
        
        margin-top: 4px;
    }
    #port-picker span.auto_connect {
        float: left;
        
        margin: 3px 0 0 5px;
    }
#sensor-status {
    float: right;
    
    height: 22px;
    line-height: 22px;
}
    #sensor-status li {
        float: left;
        
        margin-left: 10px;
        padding: 0 12px 0 12px;
        
        height: 18px;
        line-height: 18px;
        
        color: white;
        text-align: center;
        
        border: 1px solid #c0c0c0;
        border-radius: 8px;
        background-color: #be2222;
    }
    #sensor-status .on {
        background-color: #0d8b13;
    }
#log {    
    margin-bottom: 10px;
    
    height: 90px;
    
    border: 1px solid silver;
    background-color: white;
    
    overflow-y: scroll;
} 
    #log .wrapper {
        padding: 5px;
        
        -webkit-user-select: text;
    }    
#tabs {
    position: absolute;
    margin-top: 1px;
    
    z-index: 10;
    
    font-weight: bold;
}
    #tabs li {
        float: left;
        margin-right: 5px;
        
        border: 1px solid #848484;
        border-bottom: 0;
    }
        #tabs li a {
            display: block;
            
            height: 15px;
            
            padding: 5px;
            padding-left: 12px;
            padding-right: 12px;
            
            background-color: #d0d0d0;
        }
        #tabs li a:hover {
            text-decoration: none;
            background-color: #acacac;
        }
        #tabs li.active {
        }
        #tabs li.active a {
            height: 16px;
            
            background-color: white;        
        }
        #tabs li.active a:hover {            
            cursor: default;
            background-color: white; 
        }        
#content {
    margin-top: 37px;
    
    padding: 10px;
    
    background-color: white;
    height: 480px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    border: 1px solid #848484;
    
    -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
} 
#status-bar {
    margin-left: -10px;
    margin-top: 10px;
    
    width: 940px;
    height: 20px;
    line-height: 20px;
    
    padding: 0 10px 0 10px;
    
    border-top: 1px solid #7d7d79;
    background-color: #bfbeb5;
}