BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
UseTab: Never
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterCaseLabel: true
  # AfterStruct: true
  # AfterEnum: true
  # AfterClass: true
