.tab-adjustments {
}

#tab-adjustments-templates {
    display: none;
}

.tab-adjustments .help {
    padding: 10px;
    background-color: #ffcb18;
    margin-bottom: 10px;
}

.tab-adjustments .help p {
    padding-bottom: 5px;
}

.tab-adjustments .help li {
    list-style-type: decimal;
    margin-left: 20px;
}

.tab-adjustments .adjustments {
    width: 100%;
    border-spacing: 0px;
}

.tab-adjustments .adjustments thead td {
    text-align: center;
    white-space: nowrap;
    padding: 10px 10px;
    background-color: #61B665;
}

.tab-adjustments .adjustment {
    background-color: #ececec;
}

.tab-adjustments .adjustment:nth-child(odd) {
    background-color: #ffffff;
}

.tab-adjustments .adjustment select {
    outline: 1px solid silver;
}

.tab-adjustments .adjustment td {
    text-align: center;
}

.tab-adjustments .adjustment .info {
    width: 5%;
    height: 80px;
}

.tab-adjustments .adjustment .info .enabling {
    white-space: nowrap;
}

.tab-adjustments .adjustment .channelInfo {
    width: 5%;
    padding: 0px 10px;
}

.tab-adjustments .adjustment .channelInfo .limits {
    padding: 10px 0px;
}

.tab-adjustments .adjustment .range {
    width: 65%;
    padding: 0px 20px;
}

.tab-adjustments .adjustment .range .channel-slider {
    margin-top: -28px;
}

.tab-adjustments .adjustment .range .marker {
    position: absolute;
    left: 50%;
    top: 27px;
    height: 13px;
    width: 6px;
    margin-left: -3px;
    background: #ffcb18;
}

.tab-adjustments .adjustment .functionSelection {
    width: 5%;
}

.tab-adjustments .adjustment .adjustmentSlot {
    width: 5%;
}

.tab-adjustments .adjustment .functionSwitchChannel {
    width: 5%;
}

.tab-adjustments > .buttons {
    margin-top: 10px;
}

.tab-adjustments > .buttons a {
    float: right;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    display: block;
}

.tab-adjustments .buttons a {
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}

.tab-adjustments .buttons a:hover {
    background-color: #dedcdc;
}