
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
}

html, body {
    height: 100%;

}
body {
    font-family: 'open_sansregular', 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    color: #303030;
	background-color:#3d3f3e;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color:#000;
	font-family: 'open_sanssemibold', Arial;
	}

a:hover {
	text-decoration: none;


	}


/* Help-Icon  */

.helpicon {
	float:right;
	margin-top:-18px;
	margin-right:7px;
	display:block;
	height:14px;
	width:14px;
	opacity: 0.2;
	background-image:url(images/icons/cf_icon_info_grey.svg);
	background-size:contain;
	background-position:center;

}


.helpicon:hover {
	opacity: 1.0;
	background-image:url(images/icons/cf_icon_info_green.svg);
}



/* Change here the content of the documentation button in all tabs!!!  */

.cf_doc_version_bt a:before {
	content:"Documentation 1.10";
	}

.cf_doc_version_bt a {
	padding:1px 9px 1px 9px;
	margin-top: -45px;
	background-color:#59aa29;
	border-radius:3px;
	border: 1px solid #4c8829;
	color:#fff;
	float:right;
	font-family: 'open_sansbold', Arial;
	font-size:10px;
	line-height:17px;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
	text-transform:uppercase;
	letter-spacing: 0.03em;
	display:block;
	}

.cf_doc_version_bt a:hover {
	background-color:#6ac435;
	transition: all ease 0.2s;

	}


/* documentation button end  */




input[type="number"]::-webkit-inner-spin-button {
    opacity: 1; /* required for chromium 33+ beta */
    margin-left: 5px;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-wrapper {
    padding: 0px 0px 0 0px; /*   padding: 5px 5px 0 5px; */
    height: calc(100% - 7px);

}

.headerbar {
	height:110px;
	width:100%;
	float:left;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
}


#logo {
    position: relative;
	float:left;
	height:70px;
    z-index: 0;
    background-image: url("images/light-wide-2.svg");
    background-repeat: no-repeat;
    width: 340px;
    background-position:left center;
    background-size: contain;
	margin-left:15px;
	margin-top:15px;
}

#port-picker {
  float: left;
  margin-top: 20px;
	width:240px;
}

/*
#port-picker select {
    height: 20px;
    line-height: 20px;
    float: left;
    margin-right: 5px;
    border: 1px solid silver;
}
#port-picker #port {
    width: 130px;
}
#port-picker #baud {
    width: 80px;
}
#port-picker #delay {
    width: 60px;
}


#port-picker a {
    float: left;
    display: block;
    width: 80px;
    height: 18px;
    border: 1px solid silver;
    line-height: 18px;
    text-align: center;
}
#port-picker a.connect {
    margin-right: 10px;
    background-color: #be2222;
    color: white;
    font-weight: bold;
}
#port-picker a.connect:hover {
    text-decoration: none;
    background-color: #ea3131;
}
#port-picker a.connect.active {
    background-color: #0fab16;
}
#port-picker a.connect.active:hover {
    background-color: #13d81d;
}
#port-picker input.auto_connect {
    float: left;
    margin-top: 4px;
}
#port-picker span.auto_connect {
    float: left;
    margin: 3px 0 0 5px;
}


#port-picker #port-override{
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    width: 120px;
    padding: 0 5px;
    border: 1px solid silver;
}
*/
#port-override {
    background-color:rgba(0, 0, 0, 0.1);
    color:#888888;
    width: 140px;
    margin-left: 2px;
    margin-top: 0px;
    padding:1px;
    border-radius:3px;
    height:15px;
    float:right;
    font-size:12px;

}


#port-override-option label {
	background-color:#2b2b2b;
	border-radius:3px;
	padding:3px;
	margin-bottom:5px;
	color:#ddd;
	position:absolute;
	margin-top:-59px;
	margin-left:-183px;
}


#port-override input {
	width:136px;
}


#port-picker .auto_connect {
	color:#ddd;
}


#header_dataflash {
	display:none; }


#sensor-status {
	margin-top:20px;
    float: right;
    margin-right: 20px;
    line-height: 2px;
	height:67px;
	border-radius:5px;
	border:1px solid #272727;
	box-shadow: 0px 2px 0px rgba(92,92,92,0.5);
	background-color: #434343;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.55));


}

#sensor-status li {
    float: left;
    height:67px;
	width:33px;
    line-height: 18px;
    text-align: center;
	border-top:1px solid #373737;
	border-bottom:1px solid #1a1a1a;
	border-left:1px solid #373737;
	border-right:1px solid #222222;
	background-color: #434343;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.45));
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	text-shadow:0px 1px rgba(0, 0, 0, 1.0);



}


.gyroicon {
	background-image:url(images/icons/sensor_gyro_off.png);
	background-size:43px;
	background-position:top;
	background-repeat:no-repeat;
	height:30px;
	margin-top:3px;
	width:100%;
	padding-top:40px;
	color: #4f4f4f;
	text-align:center;
}


.gyroicon.active {
	background-image:url(images/icons/sensor_gyro_on.png);
	color: #61d514;
	color: #818181;
}



.accicon {
	background-image:url(images/icons/sensor_acc_off.png);
	background-size:40px;
	background-position: -5px 2px;
	background-repeat:no-repeat;
	height:30px;
	margin-top:3px;
	width:100%;
	padding-top:40px;
	color: #4f4f4f;
	text-align:center;

}


.accicon.active {
	background-image:url(images/icons/sensor_acc_on.png);
	color: #61d514;
	color: #818181;


		}



.magicon {
	background-image:url(images/icons/sensor_mag_off.png);
	background-size:42px;
	background-position: -5px 2px;
	background-repeat:no-repeat;
	height:30px;
	margin-top:3px;
	width:100%;
	padding-top:40px;
	color: #4f4f4f;
	text-align:center;

}


.magicon.active {
	background-image:url(images/icons/sensor_mag_on.png);
	color: #61d514;
	color: #818181;


		}


.gpsicon {
	background-image:url(images/icons/sensor_sat_off.png);
	background-size:42px;
	background-position: -5px 2px;
	background-repeat:no-repeat;
	height:30px;
	margin-top:3px;
	width:100%;
	padding-top:40px;
	color: #4f4f4f;
	text-align:center;

}


.gpsicon.active {
	background-image:url(images/icons/sensor_sat_on.png);
	color: #61d514;
	color: #818181;


		}


.baroicon {
	background-image:url(images/icons/sensor_baro_off.png);
	background-size:40px;
	background-position: -5px 2px;
	background-repeat:no-repeat;
	height:30px;
	margin-top:3px;
	width:100%;
	padding-top:40px;
	color: #4f4f4f;
	text-align:center;

}


.baroicon.active {
	background-image:url(images/icons/sensor_baro_on.png);
	color: #61d514;
	color: #818181;


		}

.sonaricon {
	background-image:url(images/icons/sensor_sonar_off.png);
	background-size:41px;
	background-position: -4px 1px;
	background-repeat:no-repeat;
	height:30px;
	margin-top:3px;
	width:100%;
	padding-top:40px;
	color: #4f4f4f;
	text-align:center;
}


.sonaricon.active {
	background-image:url(images/icons/sensor_sonar_on.png);
	color: #61d514;
	color: #818181;
	}



#sensor-status li:last-child {
    border-right: 0px solid #c0c0c0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#sensor-status li:first-child {
    border-left: 0px solid #c0c0c0;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#sensor-status .on {
	background-color: #434343;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.45));
}



/*
#documentation-controls {
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
}


#button-documentation {
    float: left;
    padding: 0 12px 0 12px;
    height: 18px;
    line-height: 18px;
    background-color: #ffcb18;
    color: #000;
    font-weight: bold;
    border: solid 1px #c0c0c0;
    display: none;
}
*/
#options {
    float: right;
    width: 20px;
    height: 20px;
	margin-top:10px;
	margin-right:10px;
    background-image: url('./images/CF_settings_white.svg');
    background-position: -1px -1px;
    background-repeat: no-repeat;
    opacity: 0.4;
}
#options:hover {
    opacity: 0.65;
}
#options.active {
    opacity: 0.65;
}
#options.active:hover {
    opacity: 0.75;
}
#options-window {
    display: none;
    position: fixed;
    right: 35px;
    top: 25px;
    padding: 5px;
    line-height: 20px;
    border: 1px solid silver;
    background-color: white;
	border-radius:5px;
}
#options-window input {
    float: left;
	margin-top: 3px;
    margin-right: 5px;
}


/* Log setup*/


#log {
    margin-bottom: 0px;
    border: 0px solid silver; /* was 1px*/
    background-color:#242424;
    color:rgba(255,255,255,0.60);
    line-height: 21px;
	height: 27px; /* was 65*/
	overflow-y: hidden; /* scroll*/
}



#scrollicon {
	position:fixed;
	right:10px;
	top:113px;
	height:27px;
	width:27px;
	background-image:url(images/icons/scroll.svg);
	background-repeat:no-repeat;
	background-size:100%;
	opacity:0.0;
	transition: all ease 0.3s;

}


#scrollicon.active {
	height:110px;
	margin-top:10px;
	margin-right:20px;
	width:110px;
	opacity:0.15;
	background-image:url(images/icons/scroll.svg);
	background-size:80%;
	box-shadow: inset 0 0 5px #000000;
	transition: all ease 0.3s;
}


#log.active {
    overflow-y: scroll; /* scroll*/
	box-shadow: inset 0 0 15px #000000;
}


#log .wrapper {
    padding: 5px;   /* was 5*/
    padding-left:10px;
	padding-bottom:4px;
    -webkit-user-select: text;
	position:relative;
	bottom:0px;


}

#log a {
    font-weight: regular;
	color:#59aa29;
}

#log a:hover {
    text-decoration: underline;
	}

	/* Log switch */


.logswitch {
	position:fixed;
	right: 7px;
	margin-top:-1px;
	float:right;
	padding:5px;
	z-index:10;
	}

.logswitch a {
	color:#656565;
	}



.tab_container {
	float:left;
	height:calc(100% - 150px);
	width:200px;
	border-right: 4px solid #59aa29;
	background-color: #2e2e2e;
}


#tabs {
	font-size:13px;
}

#tabs ul {
  overflow-y: auto; /* do not force scrollbars as it renders blank stripe on some user agents */
}

#tabs.logopen ul {
	 /* Cause the height to shrink to contain its floated contents while log is open */
}


#tabs ul.mode-connected {
    display: none;
}

#tabs li {
  border-bottom: 1px solid rgba(0,0,0,0.30);
}

#tabs li:first-child {
	border-top: 0px;

}

#tabs li:last-child {
    border-bottom: 0px;

}


#tabs li a {
	font-family: 'open_sansregular', Arial;
	padding-left:33px;
	padding-top:5px;
	padding-bottom:3px;
    background-color: transparent;
	color:#999999;
	height:23px;
	display:block;
	text-shadow:0px 1px rgba(0, 0, 0, 0.45);
	transition: none;
    /* following is just for a graceful degradation */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


#tabs li a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.20);
}
#tabs li.active {
	color: #fff;
	transition: none;


}
#tabs li.active a {
    background-color: #59aa29;
	color: #fff;
	transition: none;
}


#tabs li.active a:hover {
    cursor: default;
    background-color:#59aa29;
}


.tabicon {
	background-repeat: no-repeat;
	background-size:15px;
	background-position:13px 7px;
}


/* Tab-Icons */

.ic_setup {
	background-image:url(images/icons/cf_icon_setup_grey.svg);
	}

li.active .ic_setup {
	background-image:url(images/icons/cf_icon_setup_white.svg);
	}
.ic_ports {
	background-image:url(images/icons/cf_icon_ports_grey.svg);
	}

li.active .ic_ports {
	background-image:url(images/icons/cf_icon_ports_white.svg);
	}
.ic_config {
	background-image:url(images/icons/cf_icon_config_grey.svg);
	}

li.active .ic_config {
	background-image:url(images/icons/cf_icon_config_white.svg);
	}
.ic_pid {
	background-image:url(images/icons/cf_icon_pid_grey.svg);
	}

li.active .ic_pid {
	background-image:url(images/icons/cf_icon_pid_white.svg);
	}
.ic_rx {
	background-image:url(images/icons/cf_icon_rx_grey.svg);
	}

li.active .ic_rx {
	background-image:url(images/icons/cf_icon_rx_white.svg);
	}
.ic_modes {
	background-image:url(images/icons/cf_icon_modes_grey.svg);
	}

li.active .ic_modes {
	background-image:url(images/icons/cf_icon_modes_white.svg);
	}
.ic_adjust {
	background-image:url(images/icons/cf_icon_adjust_grey.svg);
	}

li.active .ic_adjust {
	background-image:url(images/icons/cf_icon_adjust_white.svg);
	}
.ic_servo {
	background-image:url(images/icons/cf_icon_servo_grey.svg);
	}

li.active .ic_servo {
	background-image:url(images/icons/cf_icon_servo_white.svg);
	}
.ic_gps{
	background-image:url(images/icons/cf_icon_gps_grey.svg);
	}

li.active .ic_gps{
	background-image:url(images/icons/cf_icon_gps_white.svg);
	}

.ic_led{
	background-image:url(images/icons/cf_icon_led_grey.svg);
	}

li.active .ic_led {
	background-image:url(images/icons/cf_icon_led_white.svg);
	}

.ic_sensors {
	background-image:url(images/icons/cf_icon_sensors_grey.svg);
	}

li.active .ic_sensors {
	background-image:url(images/icons/cf_icon_sensors_white.svg);
	}
.ic_log {
	background-image:url(images/icons/cf_icon_log_grey.svg);
	}

li.active .ic_log {
	background-image:url(images/icons/cf_icon_log_white.svg);
	}

.ic_data {
	background-image:url(images/icons/cf_icon_data_grey.svg);
	}

li.active .ic_data {
	background-image:url(images/icons/cf_icon_data_white.svg);
	}

.ic_cli {
	background-image:url(images/icons/cf_icon_cli_grey.svg);
	}

li.active .ic_cli {
	background-image:url(images/icons/cf_icon_cli_white.svg);
	}

.ic_motor {
	background-image:url(images/icons/cf_icon_motor_grey.svg);
	}

li.active .ic_motor {
	background-image:url(images/icons/cf_icon_motor_white.svg);
	}


.ic_welcome {
	background-image:url(images/icons/cf_icon_welcome_grey.svg);
	}

li.active .ic_welcome {
	background-image:url(images/icons/cf_icon_welcome_white.svg);
	}

.ic_help {
	background-image:url(images/icons/cf_icon_help_grey.svg);
	}

li.active .ic_help {
	background-image:url(images/icons/cf_icon_help_white.svg);
	}


	.ic_flasher {
	background-image:url(images/icons/cf_icon_flasher_grey.svg);
	}

li.active .ic_flasher {
	background-image:url(images/icons/cf_icon_flasher_white.svg);
	}




		/* SPARE Tab-Icons */



.ic_backup {
	background-image:url(images/icons/cf_icon_backup_grey.svg);
	}

li.active .ic_backup {
	background-image:url(images/icons/cf_icon_backup_white.svg);
	}
.ic_wizzard {
	background-image:url(images/icons/cf_icon_wizard_grey.svg);
	}

li.active .ic_wizard {
	background-image:url(images/icons/cf_icon_wizard_white.svg);
	}
.ic_advanced {
	background-image:url(images/icons/cf_icon_advanced_grey.svg);
	}

li.active .ic_advanced {
	background-image:url(images/icons/cf_icon_advanced_white.svg);
	}
.ic_mission {
	background-image:url(images/icons/cf_icon_mission_grey.svg);
	}

li.active .ic_mission {
	background-image:url(images/icons/cf_icon_mission_white.svg);
	}









#content {
    margin-top: 0px;  /* 31 */
    padding: 0px; /* 10 */
    height:calc(100% - 150px); /*  (port picker 105px, log CLOSED 25px, status bar: 20px + padding) - was: calc(100% - 171px)*/
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0px solid #848484; /* 1px solid #848484; */
    -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
    transition: all  0.3s;

}

#content.logopen {
    margin-top: 0px;  /* 31 */
    padding: 0px; /* 10 */
    height:calc(100% - 234px); /*  (port picker, log OPEN, status bar: 20px + padding) - was: calc(100% - 171px)*/
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0px solid #848484; /* 1px solid #848484; */
    -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
    transition: all  0.5s;
	 /* Cause the height to shrink to contain its floated contents while log is open */

}


#status-bar {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 20px);
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    border-top: 1px solid #7d7d79;
    background-color: #bfbeb5;
}
#status-bar div {
    float: left;

    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #7d7d79;
}
#status-bar .version {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
}
#cache {
    display: none;
}
.data-loading {
    width: 100%;
    height: 100%;
    background-image: url('../images/loading-bars.svg');
    background-repeat: no-repeat;
    background-position: center 45%;
}
.data-loading p {
    position: relative;
    top: calc(45% + 45px);
    text-align: center;
    font-weight: bold;
}

dialog {
    background-color: white;
    padding: 1em;
    height: auto;
    margin: auto auto;
    position: absolute;
    width: 50%;
    border-radius: 3px;
    border: 1px solid silver;
}

/* Border of the Tab */



	/* Tab Title */
	.tab_title {
	float:left;
	width:100%;
	border-bottom:1px solid #59aa29;
	font-size:20px;
	line-height:24px;
	height:30px;
	font-family: 'open_sanslight', Arial;
	margin-bottom:15px;
	}

/* Note */
.note {
	float:left;
	background-color:#fff7cd;
	border:1px solid #ffe55f;
	margin-bottom:7px;
	margin-top:3px;
	width:100%;
	border-radius: 3px;
	font-size:11px;
	font-family: 'open_sansregular', Arial;

	}

.note_spacer {
	padding:5px 7px 5px 7px;
	}




.tab_wrapper {
	padding-left:20px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}

/* Colums  START> */

.cf_column {
	min-height:20px;
	margin-bottom:0px;

	}


.full {
	float:left;
	width:100%;
	}

.half {
	float:left;
	width:50%;
	}



.third_left {
	float:left;
	width:33%;
	}

.third_center {
	display: inline-block;
	width:34%;
	}

.third_right {
	float:right;
	width:33%;
	}


.fourth {
	float:left;
	width:25%;
	}


.threefourth_right {
	float:right;
	width:75%;
	}

.threefourth_left {
	float:left;
	width:75%;
	}

.twothird {
	float:left;
	width:67%;
	}

/* Columns  END> */

/* Spacers */

.spacer {
	padding-left:7px;
	padding-right:7px;
	width:calc(100% - 14px);
	float:left;
	}


.spacer_left {
	padding-left:7px;
	float:left;
	width:calc(100% - 7px);

	}

.spacer_right {
	padding-right:7px;
	width:calc(100% - 7px);
	float:left;
	}

/* Standard GUI BOX */
.gui_box {
	border: 1px solid #e4e4e4;
	border-radius:5px;
	background-color:#FFFFFF;
	float:left;
	width:100%;
	margin-bottom:10px;
	font-family: 'open_sansregular', Arial;

	}

.grey {
	/* background-color:#f5f5f5; */
	background-color:#f9f9f9

	}

.gui_box_titlebar {
	background-color:#e4e4e4;
	border-radius:3px 3px 0px 0px;
	font-size:14px;
	width:100%;
	height:25px;
	padding-bottom:0px;
	float:left;
	margin-bottom:7px;
	font-family: 'open_sansregular', Arial;

	}

.spacer_box {
	padding:10px;
	margin-bottom:3px;
	}

.spacer_box_title {
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	margin-bottom:0px;
	}


/* Fixed area at the Bottom */

.fixed_band {
	position: relative;
	height: 50px;
    background-color:#e4e4e4;
	width:calc(100% + 40px);
	margin-left:-20px;
	box-shadow:rgba(0,0,0,0.00) 0 -3px 8px ;
	bottom:0px;
	margin-bottom:0px;
	}



.fixed_band .save_btn a {
/*	line-height:20px;
	padding:3px 13px 5px 13px;
	*/
	margin-top: 9px;
	margin-bottom: 0px;
	margin-right:20px;
	background-color:#59aa29;
	border-radius:3px;
	border: 1px solid #4c8829;
	color:#fff;
	float:right;
	font-family: 'open_sansbold', Arial;
	font-size:12px;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
	display:block;
	cursor:pointer;
	transition: all ease 0.2s;
	padding:0px;
	padding-left:9px;
	padding-right:9px;

	}

.fixed_band .save_btn a:hover {
	background-color:#6ac435;
	transition: all ease 0.2s;

	}


/* DIfferent buttons */



.default_btn {
	width:100%;
	position:relative;
	margin-bottom:10px;
	margin-top:0px;
	float:left;

	}


.default_btn a {
	padding:5px 0px 5px 0px;
	text-align:center;
	background-color:#fff;
	border-radius:4px;
	border: 1px solid #59aa29;
	color:#59aa29;
	font-family: 'open_sanssemibold', Arial;
	font-size:12px;
	line-height:13px;
	display:block;
	transition: all ease 0.2s;

	}

.default_btn a:hover {
	background-color:#6ac435;
	color:#fff;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
		transition: all ease 0.2s;

	}

.default_btn a:active {
	background-color:#4d9324;
	transition: all ease 0.0s;
	box-shadow:inset 0px 1px 5px rgba(0, 0, 0, 0.35);

	}

.small {
	width:auto;
	position:relative;
	margin-bottom:7px;
	margin-top:0px;
	margin-right:5px;
	float:left;

	}

	.small a {
	padding:3px 4px 4px 4px;
	text-align:center;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
	background-color:#acacac;
	border-radius:3px;
	border: 1px solid #949494;
	color:#fff;
	font-family: 'open_sanssemibold', Arial;
	font-size:11px;
	line-height:11px;
	display:block;
	transition: all ease 0.2s;

	}

.small a:hover {
	background-color:#6ac435;
	color:#fff;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #59aa29;
	transition: all ease 0.2s;


	}

.small a:active {
	background-color:#878787;
	transition: all ease 0.0s;
	box-shadow:inset 0px 1px 5px rgba(0, 0, 0, 0.35);
	}


.green a {
	background-color:#59aa29;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
	color:#fff;
	border: 1px solid #59aa29;
	transition: all ease 0.2s;

	}

.green a:hover {
	background-color:#6ac435;
	border: 1px solid #4d9324;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);
	color:#fff;
	transition: all ease 0.2s;

	}




/* Table styling */


.cf_table {
	margin-bottom:5px;
	float:left;
	margin-top:-5px;
	font-size:11px;
	}

.cf_table td {
	border:0px;
	border-bottom: solid 1px #ccc;
	padding-top:4px;
	padding-bottom:4px;
	border-style: dotted;
}

.noboarder td{
	border:none;

}

.cf_table td:last-child {
	text-align:right;
}

.gps_false {
	background-color:#FF0004;
	padding:1px 7px 2px 7px;
	border-radius:3px;
	color:#FFFFFF;
	font-size:11px;
	margin-left:3px;
}

.gps_true {
	background-color:#59aa29;
	padding:1px 7px 2px 7px;
	border-radius:3px;
	color:#FFFFFF;
	font-size:11px;
	margin-left:3px;
}

/* connect button */


.connect_controls {
  position: absolute;
  left: 620px;
  top: 19px;
  height: 70px;
  width: 60px;
}


.connect_b {
	float:left;
	}


.connect_b a  {
	height:50px;
	width:50px;
	border-radius:100px;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.35);
	float:left;
	margin-left: 5px;
	margin-bottom:7px;
	transition: none;
	}


.connect_b a.connect  {
	background-color:#56ac1d;
	border:1px solid #5bbb1b;
	background-image:url(images/icons/cf_icon_usb2_white.svg);
	background-repeat:no-repeat;
	background-size:44px;
	background-position:center 6px;
	transition: none;
	}


.connect_b a.connect:hover  {
	background-color:#68c02e;
	}


.connect_b a.connect.active  {
	background-color:#e60000;
	border:1px solid #fe0000;
	background-image:url(images/icons/cf_icon_usb1_white.svg);
	transition: none;
	}


.connect_b a.connect.active:hover  {
	background-color:#f21212;
	}


	.connect_state {
	float:left;
	height:20px;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:12px;
	font-family: 'open_sansregular', Arial;
	text-shadow:0px 1px rgba(0, 0, 0, 0.25);


	}

/* fixing padding for all Tabs*/

.tab-setup, .tab-landing, .tab-adjustments, .tab-auxiliary, .tab-cli, .tab-configuration, .tab-dataflash, .tab-firmware_flasher, .tab-gps, .tab-help, .tab-led-strip, .tab-logging, .tab-modes, .tab-motors, .tab-pid_tuning, .tab-ports, .tab-receiver, .tab-sensors, .tab-servos {
	padding:20px;
	float:left;
	width:calc(100% - 40px);
	height:calc(100% - 40px) !important;
	position:absolute !important;
	}


/* fixing logging tab*/
.properties {
	width:800px;
	}


.properties dl {
	width:200px;
	}


.properties dd {
	width:400px;
	height:auto !important;
	}



/* GPS Fix styling*/


.fixtrue {
	background-color:#56ac1d;
	padding:2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius:3px;
	color:#fff;
    font-size: 10px;
	}


.fixfalse {
	background-color:#e60000;
	padding:2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius:3px;
	color:#fff;
	font-size: 10px;
	}
	
	
@media only screen and (max-width: 1055px), only screen and (max-device-width: 1055px) {

	
.tab_title {
	font-size:16px;
	line-height:18px;
	height:24px;
	font-family: 'open_sanslight', Arial;
	margin-bottom:10px;
	display:;
	}

.cf_doc_version_bt a {
	padding:1px 5px 1px 5px;
	margin-top: -35px;
	font-size:9px;
	line-height:15px;
	}
		
#content {
    height:calc(100% - 151px); /*  (port picker 105px, log CLOSED 25px, status bar: 20px + padding) - was: calc(100% - 171px)*/
}



body {
    font-size: 11px;
	}

.tab-setup, .tab-landing, .tab-adjustments, .tab-auxiliary, .tab-cli, .tab-configuration, .tab-dataflash, .tab-firmware_flasher, .tab-gps, .tab-help, .tab-led-strip, .tab-logging, .tab-modes, .tab-motors, .tab-pid_tuning, .tab-ports, .tab-receiver, .tab-sensors, .tab-servos {
	padding:10px;
	float:left;
	width:calc(100% - 20px);
	height:calc(100% - 20px) !important;
	position:absolute !important;
	}
	
.cf_table td {
	padding-top:2px;
	padding-bottom:2px;
}

.default_btn {
	margin-bottom:7px;
}

.default_btn a {
 	font-size:11px;
}
	
#tabs li a {
	font-family: 'open_sansregular', Arial;
	font-size:12px;
	padding-left:33px;
	padding-top:6px;
	padding-bottom:2px;
}

.tab_container {
	width:185px;
}

input {
	font-size:11px !important;
}
	
	}