.tab-auxiliary {
}

.tab-auxiliary .help {
    padding: 10px;
    background-color: #ffcb18;
    margin-bottom: 10px;
}

.tab-auxiliary .range .marker,
.tab-auxiliary .channel-slider .noUi-connect {
    background: #ffcb18;
}

.tab-auxiliary .mode.on .info {
    background: #61B665;
}

.tab-auxiliary .mode.on:nth-child(odd) .info {
    background: #BAE2BC;
}

.tab-auxiliary .mode.off .info {
    background: #E86969;
}

.tab-auxiliary .mode.off:nth-child(odd) .info {
    background: #E7AEAE;
}

#tab-auxiliary-templates {
    display: none;
}

.tab-auxiliary .modes {
    width: 100%;
    border-spacing: 0px;
}

.tab-auxiliary .mode {
    background-color: #ececec;
    vertical-align: top;
}

.tab-auxiliary .mode:nth-child(odd) {
    background-color: #ffffff;
}

.tab-auxiliary .mode .name {
    min-height: 50px;
    padding: 5px 0px;
}

.tab-auxiliary .mode.off .info,
.tab-auxiliary .mode.on .info {
    color: white;
}

.tab-auxiliary .mode .info {
    text-align: center;
    width: 10%;
    position: relative;
}
 
.tab-auxiliary .mode .info .name {   
    font-weight: bold;
    font-size: 1.1em;
}

.tab-auxiliary .mode .info .buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.tab-auxiliary .mode .info .buttons a {
    padding: 2px 5px;
}

.tab-auxiliary .ranges {
    margin: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.tab-auxiliary .range {
    position: relative;
    height: 70px;
    padding-top: 8px;
    padding-left: 10px;
}

.tab-auxiliary .range > .buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}

.tab-auxiliary .range > .buttons .a {
    padding: 2px;
}

.tab-auxiliary .range:nth-child(odd) {
}

.tab-auxiliary .mode .range .channelInfo {
    display: inline-block;
    float: left;
    max-width: 100px;
    text-align: center;
}

.tab-auxiliary .mode .range .channelInfo .limits {
    padding: 10px 0px;    
}

.tab-auxiliary .range .channel {
    outline: 1px solid silver;
}

.tab-auxiliary .range .marker {
    position: absolute;
    left: 50%;
    top: 27px;
    height: 13px;
    width: 6px;
    margin-left: -3px;
}

.tab-auxiliary .range .channel-slider {
    display: inline-block;
    float: right;
    width: 85%;
    margin-right: 35px;
}

.tab-auxiliary .channel-slider {
}

.tab-auxiliary > .buttons {
    margin-top: 10px;
}

.tab-auxiliary > .buttons a {
    float: right;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    display: block;
}

.tab-auxiliary .buttons a {
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}

.tab-auxiliary .buttons a:hover {
    background-color: #dedcdc;
}