.tab-cli {
}
    .tab-cli p {
        padding: 5px;
        border: 1px dotted silver;
    }
    .tab-cli .window {
        margin-top: 10px;
        height: 400px;
        
        padding: 5px;
        
        overflow-y: scroll;
        overflow-x: hidden;
        
        font-family: monospace;
        color: white;
        
        border: 1px solid silver;
        background-color: black;
        
        -webkit-user-select: text;
    }
    .tab-cli textarea {
        margin-top: 8px;
        display: block;
        
        height: 20px;
        line-height: 20px;
        
        padding-left: 5px;
        
        border: 1px solid silver;
        
        resize: none;
    }
    .tab-cli .copy {
        display: block;
        position: absolute;
        
        bottom: 55px;
        right: 40px;
        
        height: 28px;
        line-height: 28px;
        
        padding: 0 15px 0 15px;
        
        text-align: center;
        font-weight: bold;
        
        border: 1px solid silver;
        background-color: #ececec;
    }
    .tab-cli .copy:hover {
        background-color: #dedcdc;
    }