


.tab-configuration table {
    margin-bottom: 10px;
		width:100%;
		float:left;


}
.tab-configuration table,
.tab-configuration table th,
.tab-configuration table td {
    padding: 0px;
	padding-left:0px;
	text-align:left;

}

.tab-configuration table th {
	padding-left:3px;
	    padding: 3px;

	    border-bottom: 1px solid #ddd;

}


.tab-configuration table td {
	
	padding-left:5px;
	    border-bottom: 1px solid #ddd;

}

.tab-configuration table tr td:first-child {
    text-align: left;
    width:50px;
}
.tab-configuration table td {
    padding: 5px 3px;
}

.tab-configuration table thead tr:first-child {
    background-color: #ececec;
}

.tab-configuration {
    position: relative;
}
.tab-configuration .groupTitle {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;

    font-size: 16px;

    border-bottom: 1px solid #dddddd;
}
.tab-configuration .leftWrapper {
    float: left;
 width: calc(50% - 20px);
  0 10px 20px 0px
}
.tab-configuration .rightWrapper {
    float: left;
    width: calc(50% - 0px);
    margin: 0 0 10px 20px;
}
.tab-configuration .mixerPreview {
    width: 180px;
    height: 180px;
}
.tab-configuration .mixerPreview img {
    display: block;

    width: 100%;
    height: 100%;
}
.tab-configuration select.mixerList {
    width: 155px;
    height: 20px;
    margin-top: 5px;

    font-weight: bold;

    border: 1px solid silver;
}
.tab-configuration dl.features dt {
    float: left;

    width: 10px;
    height: 18px;
    line-height: 18px;
}
.tab-configuration dl.features dt input {
    margin-top: 2px;
}
.tab-configuration dl.features dd {
    margin: 0 0 0 20px;
    height: 18px;

    line-height: 18px;
}
.tab-configuration .number {
    margin-bottom: 5px;
    clear: left;
}
.tab-configuration .number input {
    width: 48px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 1px solid silver;
	border-radius:3px;
	margin-right:11px;
}

.tab-configuration .number input.disabled {
    width: 39px;
    padding: 0px 5px;
    background-color: #ececec;
}

.tab-configuration .number span {
    margin-left: 0px;
}
.tab-configuration .gps .line {
    clear: left;
}
.tab-configuration .gps select {
    float: left;

    width: 100px;
    height: 20px;

    margin: 0 10px 5px 0;

    border: 1px solid silver;
}
.tab-configuration .gps span {
    line-height: 20px;
}
.tab-configuration .serialRX {
    width: 100%;

    border: 1px solid silver;
    margin-bottom: 5px;
}
.tab-configuration .current .checkbox {
    margin-top: 2px;
}
.tab-configuration .current .checkbox div {
    float: left;
    width: 60px;
}
.tab-configuration .current .checkbox div input {
    display: ;
    margin: 0px;
}
.tab-configuration .current .checkbox span {
    margin-left: 0px;
}
.tab-configuration .disarm .checkbox {
    margin-top: 2px;
}
.tab-configuration .disarm .checkbox div {
    margin-bottom: 0px;
    margin-top: 0px;
}
.tab-configuration .disarm .checkbox div input {
    display:;
    margin:0px;
}
.tab-configuration .disarm .checkbox span {
    margin-left: 0px;
}
.tab-configuration .save {
    display: block;
    float: right;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-configuration .save:hover {
    background-color: #dedcdc;
}


.tab-configuration .freelabel {
margin-left:10px;
position:relative;
}


.tab-configuration input {
float:left;
}

.tab-configuration span {
margin:0px
}


.tab-configuration .disarm .checkbox { 
float:left;
padding-left:3px; 
margin-top: -5px; 
padding-bottom:5px;
border-bottom: 1px solid #ddd;
width:100%;
}


.tab-configuration .spacer_box { 
padding-bottom 10px; 
float: left;
width: calc(100% - 20px);
}


.tab-configuration .number { 
padding-bottom:5px;
border-bottom: 1px solid #ddd;
width:100%;
float: left;
}

.tab-configuration .disarm { 
margin-bottom:5px;
float:left;
border-bottom: 1px solid #ddd;
width:100%;

}

.disarmdelay { margin-top: 5px; float:left; width:100%; border-bottom: 1px solid #ddd;

 }



.tab-configuration .number:last-child { 
border-bottom:none;
padding-bottom:0px;
	margin-bottom:0px;


}

.tab-configuration .gui_box_titlebar  { 
	      margin-bottom: 0px; 
}

.tab-configuration .numberspacer {
float:left; width:60px; height:20px;}

.tab-configuration thead {
	display:none;
}

.tab-configuration .gui_box {
	margin-bottom:10px;
	}
	
	.tab-configuration .rssi td {
		border-bottom:none;
		padding-bottom:0px;
			margin-bottom:0px;


}

.tab-configuration .rssi .gui_box {
	min-height:140px;
	}
	
	
	.tab-configuration .mixer .gui_box {
	min-height:284px;
	}

	.tab-configuration .current .gui_box {
	min-height:221px;
	}
	
		.tab-configuration .gps .gui_box {
	min-height:366px;
	}
	
	
	.tab-configuration .system .gui_box {
	min-height:100px;
	}
	
	
.tab-configuration table tr td:first-child {
	width:20px;}
	

.tab-configuration .other tr:last-child td{
    border-bottom:0px;
    padding-bottom:0px;
    margin-bottom:0px;

}

.tab-configuration .mixerPreview {
	height:230px; 
	width:230px; 
	background-color: #eeeeee;
	text-align: center;
	float:left;
	border-radius:5px;
	margin-right:15px;
	margin-top:5px;
	margin-left:5px;
	}
	
.tab-configuration .mixerPreview img {
    width: 80%;
    margin-top:10%;
    margin-left:10%;
    height: 80%;
    }
    
.tab-configuration .rxMode tr:last-child td{
    border-bottom:0px;
    padding-bottom:0px;
	margin-bottom:0px;

}