.tab-default .left {
    width: 60%;
}
.tab-default .right {
    float: left;

    margin-left: 10px;

    width: calc(40% - 10px);
}
    .welcome {
        margin-bottom: 10px;

        padding: 5px;

        border: 1px solid silver;
    }
        .welcome a {
            font-weight: bold;
        }
        .welcome a:hover {
            text-decoration: underline;
        }
    .changelog {
        margin: 0 0 10px 0;

        border: 1px solid silver;
    }
        .changelog .title {
            line-height: 20px;

            text-align: center;
            font-weight: bold;
            color: white;

            border-bottom: 1px solid silver;
            background-color: #3f4241;
        }
        .changelog .wrapper {
            height: 150px;

            padding: 5px;

            overflow-y: scroll;
            overflow-x: hidden;

            -webkit-user-select: text;
        }
            .changelog .wrapper span {
                font-weight: bold;
            }
            .changelog .wrapper p {
                margin-bottom: 5px;
            }
    .donate {
        padding: 0 0 5px 0;

        border: 1px solid silver;
    }
        .donate .title {
            line-height: 20px;

            text-align: center;
            font-weight: bold;
            color: white;

            border-bottom: 1px solid silver;
            background-color: #3f4241;
        }
        .donate p {
            padding: 5px;
        }
        .donate a {
            display: block;

            width: 74px;
            height: 21px;

            margin: auto;
        }
        .donate .buttons {
            margin-left: auto;
            margin-right: auto;
            width: 160px;
        }
        .donate ul {
        }
        .donate li {
            text-align: center;
            display: inline-block;
        }
    .firmware_flasher {
        display: block;
        float: right;

        height: 28px;
        line-height: 28px;

        padding: 0 15px 0 15px;

        text-align: center;
        font-weight: bold;

        border: 1px solid silver;
        background-color: #ececec;
    }
    .firmware_flasher:hover {
        background-color: #dedcdc;
    }