.tab-gps {
}
.tab-gps .GPS_info {
    float: left;
    display: block;


    width: 190px;

    border: 1px solid silver;
}
.tab-gps .GPS_info table {
    padding: 5px;
    line-height: 18px;
}
.tab-gps .GPS_signal_strength {
    float: left;

    margin-left: 10px;

    width: 200px;

    border: 1px solid silver;
}
.tab-gps .GPS_signal_strength table {
    padding: 5px;
    line-height: 18px;
}
.tab-gps .GPS_info .head,
.tab-gps .GPS_signal_strength .head {
    display: block;

    text-align: center;
    line-height: 20px;
    font-weight: bold;

    border-bottom: 1px solid silver;
    background-color: #ececec;
}
.tab-gps a {
    font-weight: bold;
}
.tab-gps a:hover {
    text-decoration: underline;
}