.tab-gps progress {
    width: 100%;
    border-radius: 3px;
}

.tab-gps .GPS_info .head, .tab-gps .GPS_signal_strength .head {
    display: block;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid silver;
    background-color: #ececec;
}

.tab-gps .gps_map {
    height: 460px;
}


.tab-gps #connect {
   display:none; 
   text-align:center;
   padding-top:40%;
}

.tab-gps #waiting {
    margin-top: 0px;
    display: none;
    text-align: center;
    padding-top: 0px;
    background-image: url(../images/loading-bars.svg);
    background-position: center 40%;
    background-size: 15%;
    height: 100%;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}

.tab-gps #waiting .info {
    margin-top: 50%;
}

.tab-gps #loadmap {
    margin-top:0px; 
    display:none;
}

.tab-gps #connect a {
    font-weight: bold;
    margin-top:10px;
}


.tab-gps #loadmap {
    height: 100%;
    width: 100%;
    float: left;
}


.tab-gps #loadmap .controls {
    width: 100%;
    float: left;
    height: 33px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #D1D1D1;
}

.tab-gps #loadmap .controls a {
    background-color: white;
    border-radius: 4px;
    border: 1px silver solid;
    color: grey;
    height: 10px;
    width: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    padding: 6px;
    margin-top: 5px;
    float: right;
}

.tab-gps #loadmap .controls a:hover {
    background-color: #f5f5f5;
}

.tab-gps #loadmap .controls a:active {
    background-color: #e6e6e6;
}

.tab-gps #loadmap .controls a:first-child {
    margin-left: -1px;
    margin-right: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.tab-gps #loadmap .controls a:last-child {
    margin-right: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.tab-gps iframe {
    height: 400px;
    width: 100%;
    float: left;
}


progress[value]::-webkit-progress-bar {
    background-color: #d2d2d2;
    border-radius: 2px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .15)),
        -webkit-linear-gradient(left, #59aa29, #59aa29);
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25) inset;
}


@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {

.tab-gps iframe {
    height: 347px;
    width: 100%;
    float: left;
}

.tab-gps .gps_map {
    height: 403px;
}

}
