/* temporary styles that are used during compatibility period */
.tab-initial_setup .CAP_BASEFLIGHT_CONFIG,
.tab-initial_setup .COMPATIBILITY {
    display: none;
    height: calc(100% - 142px);
}
.tab-initial_setup .CAP_BASEFLIGHT_CONFIG #interactive_block {
    width: calc(100% - 199px);
}
.tab-initial_setup .CAP_BASEFLIGHT_CONFIG .gps {
    width: 185px;
}
.tab-initial_setup .CAP_BASEFLIGHT_CONFIG .gps .fields {
    padding: 5px 5px 3px 5px;
}
.tab-initial_setup .CAP_BASEFLIGHT_CONFIG .gps dt {
    float: left;

    width: 85px;
    height: 20px;

    margin-bottom: 2px;

    line-height: 20px;
}
.tab-initial_setup .CAP_BASEFLIGHT_CONFIG .gps dd {
    height: 20px;

    margin-left: 85px;
    margin-bottom: 2px;

    line-height: 20px;
}
/* temporary styles end*/

.tab-initial_setup {
    height: 100%;
}
    .tab-initial_setup .section {
        clear: both;
        padding-bottom: 8px;
    }
        .tab-initial_setup .section a {
            display: block;

            float: left;

            width: 170px;
            height: 24px;
            line-height: 24px;

            text-align: center;
            font-weight: bold;

            border: 1px solid silver;
            background-color: #ececec;
        }
        .tab-initial_setup .section a:hover {
            background-color: #dedcdc;
        }
        .tab-initial_setup .section  a.calibrating {
            background-color: #c1c1c1;
        }
        .tab-initial_setup .section a.calibrating:hover {
            cursor: default;
            background-color: #c1c1c1;
        }
        .tab-initial_setup .section a.disabled {
            background-color: #c1c1c1;
        }
        .tab-initial_setup .section a.disabled:hover {
            cursor: default;
        }
            .tab-initial_setup .section a.backup {
                width: 80px;
                margin-right: 10px;
            }
            .tab-initial_setup .section a.restore {
                width: 80px;
            }
        .tab-initial_setup .section p {
            margin-left: 180px;

            padding: 0 0 0 5px;

            height: 25px;
            line-height: 25px;

            border-bottom: 1px solid #e5e5e5;
        }
#interactive_block {
    float: left;
    position: relative;

    height: 100%;
    width: calc(100% - 522px);

    border: 1px solid silver;
    background-color: white;
}
    #interactive_block .model {
        float: left;
        height: 15px;
        margin: 10px 0 0 10px;

        font-weight: bold;
    }
    #interactive_block .modelMixDiagram {
        position: absolute;

        top: 32px;
        left: 10px;

        height: 95px;
    }
    #interactive_block .modelMixAirplane { /* Position airplane correctly */
        height: 115px;
        padding-left: 0px;
    }
    #interactive_block .modelMixCustom { /* Position question mark correctly */
        height: 75px;
        padding-left: 25px;
    }
    #interactive_block .heading {
        float: right;
        height: 15px;

        margin: 10px 10px 0 0;
        font-weight: bold;
    }
    #interactive_block a.reset {
        position: absolute;
        display: block;

        bottom: 10px;
        right: 10px;

        height: 28px;
        line-height: 28px;

        padding: 0 15px 0 15px;

        text-align: center;
        font-weight: bold;

        border: 1px solid silver;
        background-color: #ececec;

        z-index: 100;
    }
    #interactive_block a.reset:hover {
        background-color: #dedcdc;
    }
    #canvas_wrapper {
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
    }
    .tab-initial_setup .block_wrapper {
        font-size: 0;
    }

.tab-initial_setup .block {
    float: left;
    display: block;

    margin-left: 10px;

    border: 1px solid silver;
}
.tab-initial_setup .block .head {
    display: block;

    text-align: center;
    line-height: 20px;
    font-weight: bold;

    border-bottom: 1px solid silver;
    background-color: #ececec;
}
.tab-initial_setup .mixer {
    width: 200px;
}
.tab-initial_setup .mixer .preview {
    display: block;

    width: 200px;
    height: 140px;

    margin: 5px 0 5px 0;
}
.tab-initial_setup .mixer select {
    display: block;

    padding-left: 5px;

    width: 100%;
    height: 20px;
    line-height: 20px;

    font-weight: bold;

    border-top: 1px solid silver;
}
.tab-initial_setup .block .info {
    width: 200px;
}
    .tab-initial_setup .battery,
    .tab-initial_setup .throttle,
    .tab-initial_setup .acc-trim,
    .tab-initial_setup .magnetometer,
    .tab-initial_setup .info {
        display: inline-block;
        vertical-align: top;

        margin: 0 0 10px 10px;

        font-size: 12px;

        border: 1px solid silver;
    }
        .tab-initial_setup .battery .head,
        .tab-initial_setup .throttle .head,
        .tab-initial_setup .acc-trim .head,
        .tab-initial_setup .magnetometer .head,
        .tab-initial_setup .info .head {
            display: block;

            text-align: center;
            line-height: 20px;
            font-weight: bold;

            border-bottom: 1px solid silver;
            background-color: #ececec;
        }
        .tab-initial_setup .battery .fields,
        .tab-initial_setup .throttle .fields,
        .tab-initial_setup .magnetometer .fields,
        .tab-initial_setup .info .fields {
            padding: 5px 5px 3px 5px;
        }
        .tab-initial_setup .acc-trim .fields {
            padding: 5px 5px 3px 5px;
        }
        .tab-initial_setup .magnetometer .fields {
            padding: 5px 5px 5px 5px;
        }
        .tab-initial_setup .battery dt {
            float: left;

            width: 105px;
            height: 22px;

            margin-bottom: 2px;

            line-height: 22px;
        }
        .tab-initial_setup .battery dd {
            height: 22px;

            margin-left: 105px;
            margin-bottom: 2px;

            line-height: 22px;
        }
        .tab-initial_setup .battery input {
            width: 68px;
            height: 20px;
            line-height: 20px;

            border: 1px solid silver;
            text-align: center;
        }
        .tab-initial_setup .throttle dt {
            float: left;

            width: 90px;
            height: 22px;

            margin-bottom: 2px;

            line-height: 22px;
        }
        .tab-initial_setup .throttle dd {
            height: 22px;

            margin-left: 90px;
            margin-bottom: 2px;

            line-height: 22px;
        }
        .tab-initial_setup .throttle input {
            width: 60px;
            height: 20px;
            line-height: 20px;

            border: 1px solid silver;
            text-align: center;
        }
        .tab-initial_setup .acc-trim dt {
            float: left;

            width: 65px;
            height: 22px;
            line-height: 22px;

            margin-bottom: 2px;
        }
        .tab-initial_setup .acc-trim dd {
            height: 22px;

            margin-left: 65px;
            margin-bottom: 2px;
        }
        .tab-initial_setup .acc-trim input {
            width: 60px;
            height: 20px;
            line-height: 20px;

            border: 1px solid silver;
            text-align: center;
        }
        .tab-initial_setup .magnetometer dt {
            float: left;

            width: 90px;
            height: 20px;
            line-height: 22px;

            margin-bottom: 2px;
        }
        .tab-initial_setup .magnetometer dd {
            height: 20px;
            line-height: 22px;

            margin-left: 90px;
            margin-bottom: 2px;
        }
        .tab-initial_setup .magnetometer input {
            width: 60px;
            height: 20px;
            line-height: 20px;

            border: 1px solid silver;
            text-align: center;
        }
        .tab-initial_setup .info dt {
            float: left;

            width: 99px;
            height: 20px;
            line-height: 20px;
        }
        .tab-initial_setup .info dd {
            width: 76px;
            height: 20px;
            line-height: 20px;

            margin-left: 99px;
        }
    .tab-initial_setup .buttons {
        width: calc(100% - 20px);

        position: absolute;
        bottom: 10px;
    }
    .tab-initial_setup .update {
        display: block;
        float: right;

        height: 28px;
        line-height: 28px;

        padding: 0 15px 0 15px;

        text-align: center;
        font-weight: bold;

        border: 1px solid silver;
        background-color: #ececec;
    }
    .tab-initial_setup .update:hover {
        background-color: #dedcdc;
    }