.tab-landing .left {
    width: 60%;
    position: relative;
}
.tab-landing .right {
    float: left;

    margin-left: 10px;
    width: calc(40% - 10px);
    position: relative;
}

.tab-landing .section {
    margin-bottom: 10px;
    width: 100%;
    overflow: auto;
}

.left .section:last-child,
.right .section:last-child {
    margin-bottom: 0px;
}

.tab-landing .optional_permissions {
    display: none;

    border: 1px solid silver;
}
.tab-landing .optional_permissions .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #cd4c4c;
}
.tab-landing .optional_permissions p {
    padding: 5px;
}
.tab-landing .optional_permissions a {
    display: block;
    float: left;

    height: 28px;
    line-height: 28px;

    margin: 0 0 5px 5px;
    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-landing .optional_permissions a:hover {
    background-color: #dedcdc;
}

.tab-landing .row {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.tab-landing .row:last-child {
    margin-bottom: 0px;
}

.welcome {
    height: 196px;
}

.contributing,
.welcome {
    border: 1px solid silver;
}

.contributing_and_sponsors .right,
.contributing_and_sponsors .left {
    min-height: 260px
}

.section-content {
    margin: 5px;
}

.contributing a,
.welcome a {
    font-weight: bold;
}
.contributing a:hover,
.welcome a:hover {
    text-decoration: underline;
}

.contributing li {
    list-style-type: disc;
    list-style-position: initial;
    margin-left: 20px;
}

.changelog {
    border: 1px solid silver;
}
.changelog .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.changelog .wrapper {
    height: 165px;

    padding: 5px;

    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-user-select: text;
}
.changelog .wrapper span {
    font-weight: bold;
}
.changelog .wrapper p {
    margin-bottom: 5px;
}

.donate {
    border: 1px solid silver;
}

.donate .buttons {
    margin-bottom: 10px;
}

.section .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.donate p {
    padding: 5px;
}
.donate a {
    display: block;

    width: 74px;
    height: 21px;

    margin: auto;    
}

.contributing_and_sponsors .left .section {
    position: absolute;
}

.contributing_and_sponsors .left .contributing {
    top: 0%;
    height: 50%;
}

.contributing_and_sponsors .left .donate {
    top: 50%;
    margin-top: 10px;
    height: calc(50% - 10px);
}

.tab-landing .sponsors {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid silver;
}
.tab-landing .sponsors p {
    padding: 5px;
}
.tab-landing .sponsors p a {
    font-weight: bold;
}
.tab-landing .sponsors p a:hover {
    text-decoration: underline;
}
