
.tab-led-strip .help {
    padding: 10px;
    background-color: #ffcb18;
    margin-bottom: 10px;
}

.tab-led-strip .section {
    color: #565656;
    margin: 20px 0 5px 0;
    border-bottom: 1px solid silver;
}

.tab-led-strip .mainGrid {
    width: calc((30px + 8px) * 16);
    height: calc((30px + 8px) * 16);
    float: left;
    margin-right: 10px;
}

.tab-led-strip .mainGrid .gPoint {
    float: left;
    border: solid 2px #ADADAD;
    width: 28px;
    height: 28px;
    margin: 3px;
    border-radius: 7px;
    background: #ececec;;
    cursor: pointer;
}

.tab-led-strip .gPoint.function-w { /* Warning */
    background: red;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: red;      
}

.tab-led-strip .gPoint.function-f { /* Flight mode & orientation */
    background: rgb(50, 205, 50);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(50, 205, 50);
}

.tab-led-strip .gPoint.function-i { /* Indicator */
    background: yellow;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: yellow;       
}

.tab-led-strip .gPoint.function-a { /* Armed Mode */
    background: rgb(52, 155, 255);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: rgb(52, 155, 255);
}

.tab-led-strip .gPoint.function-t { /* Thrust Mode */
    background: orange;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: orange;
}

.tab-led-strip .gPoint.function-c { /* Color */
    background: linear-gradient( to bottom right, rgba(255, 0, 0, .5) 0%, rgba(255, 255, 0, 0.5) 15%, rgba(0, 255, 0, .5) 30%, rgba(0, 255, 255, .5) 50%, rgba(0, 0, 255, .5) 65%, rgba(255, 0, 255, .5) 80%, rgba(255, 0, 0, .5) 100%);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: grey;
}

.tab-led-strip .gPoint.function-r { /* Ring */
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, white 60%,white 70%,black 70%, black 100%);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
    border-color: black;
}

.tab-led-strip .gPoint.function-i.function-f {
    background: linear-gradient(to bottom, yellow 0%,yellow 50%,rgb(50, 205, 50) 50%, rgb(50, 205, 50) 100%);
}

.tab-led-strip .gPoint.function-i.function-a {
    background: linear-gradient(to bottom, yellow 0%,yellow 50%,rgb(52, 155, 255) 50%, rgb(52, 155, 255) 100%);
}

.tab-led-strip .gPoint.function-i.function-f.function-a {
    background: linear-gradient(to bottom, yellow 0%,yellow 33%,rgb(50, 205, 50) 33%, rgb(50, 205, 50) 66%, rgb(52, 155, 255) 66%, rgb(52, 155, 255) 100%);
}

.tab-led-strip .gPoint.function-i.function-w.function-a {
    background: linear-gradient(to bottom, yellow 0%,yellow 33%,red 33%, red 66%, rgb(52, 155, 255) 66%, rgb(52, 155, 255) 100%);
}

.tab-led-strip .gPoint.function-t.function-f.function-w {
    background: linear-gradient(to bottom, orange 0%,orange 33%,rgb(50, 205, 50) 33%, rgb(50, 205, 50) 66%, red 66%, red 100%);
}

.tab-led-strip .gPoint.function-i.function-w {
    background: linear-gradient(to bottom, yellow 0%,yellow 50%,#ff5454 50%,#ba3535 100%);
}

.tab-led-strip .gPoint.function-f.function-w {
    background: linear-gradient(to bottom, rgb(50, 205, 50) 0%,rgb(50, 205, 50) 50%,#ff5454 50%,#ba3535 100%);
}

.tab-led-strip .gPoint.function-f.function-t {
    background: linear-gradient(to bottom, rgb(50, 205, 50) 0%,rgb(50, 205, 50) 50%,orange 50%,orange 100%);
}

.tab-led-strip .gPoint select {
    background: #000;
    width: 13px;
    height: 13px;
}

.tab-led-strip .wire {
    color: rgba(255,255,255,.5);
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
    padding-top: 0px;
    display: block;
    font-family: monospace;
    margin-left: -2px;
    margin-top: -28px;
    width: 32px;
    height: 32px;
}

.gridWire .wire {
    color: rgba(255,255,255,1);
}

.gridWire {
    background: rgba(15, 171, 22, .5) !important;
}

/*function buttons*/

.tab-led-strip button {
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;

    padding: 7px 6px;
    margin: 3px 0;
}

.tab-led-strip button:hover {
    background-color: #acacac;
}

.tab-led-strip .funcWire.btnOn {
    background: rgb(15, 171, 22);
}


.tab-led-strip button.w100 {
    width: 100%;
}

.tab-led-strip button.w50 {
    width: 49%;
}

.tab-led-strip .functions .function-w.btnOn {background: red;}
.tab-led-strip .functions .function-f.btnOn {background: rgb(50, 205, 50);}
.tab-led-strip .functions .function-i.btnOn {background: yellow; color: #333;}
.tab-led-strip .functions .function-a.btnOn {background: blue;}
.tab-led-strip .functions .function-t.btnOn {background: orange;}
.tab-led-strip .functions .function-r.btnOn {background: #acacac;}
.tab-led-strip .functions .function-c.btnOn {
    background: linear-gradient( to bottom right, rgba(255, 0, 0, .5) 0%, rgba(255, 255, 0, 0.5) 15%, rgba(0, 255, 0, .5) 30%, rgba(0, 255, 255, .5) 50%, rgba(0, 0, 255, .5) 65%, rgba(255, 0, 255, .5) 80%, rgba(255, 0, 0, .5) 100%);
}

.tab-led-strip .color-0 {}
.tab-led-strip .color-1 {background: white;}
.tab-led-strip .color-2 {background: red;}
.tab-led-strip .color-3 {background: orange;}
.tab-led-strip .color-4 {background: yellow;}
.tab-led-strip .color-5 {background: greenyellow;}
.tab-led-strip .color-6 {background: limegreen;}
.tab-led-strip .color-7 {background: palegreen;}
.tab-led-strip .color-8 {background: cyan;}
.tab-led-strip .color-9 {background: lightcyan;}
.tab-led-strip .color-10 {background: dodgerblue;}
.tab-led-strip .color-11 {background: darkviolet;}
.tab-led-strip .color-12 {background: magenta;}
.tab-led-strip .color-13 {background: deeppink;}
.tab-led-strip .color-14 {}
.tab-led-strip .color-15 {}

.tab-led-strip .directions button.btnOn,
.tab-led-strip .functions button.btnOn,
.tab-led-strip .colors .btnOn {
    border-color: #000;
}

.tab-led-strip .colors button:hover {
    border-color: inherit;
    border-style: solid;
}

.tab-led-strip .directions .btnOn {
    background: #FFF; color: #000;
}

.tab-led-strip .indicators {
    position: relative;
    height: 30px    
}

.tab-led-strip .indicators span {
    width: 0; 
    height: 0; 
    position: absolute;
    display: none;
    font-size: 10px;
    font-weight: bold;
}

.tab-led-strip .indicators .north {
    top: -4px;
    left: 7px; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;    
    border-bottom: 7px solid rgba(0,0,0,.8);
}

.tab-led-strip .indicators .south {
    bottom: -2px;
    left: 7px; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;    
    border-top: 7px solid rgba(0,0,0,.8);
}

.tab-led-strip .indicators .east {
    bottom: 8px;
    right: -5px; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;   
    border-left: 7px solid rgba(0,0,0,.8);
}

.tab-led-strip .indicators .west {
    bottom: 8px;
    left: -5px;  
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;   
    border-right: 7px solid rgba(0,0,0,.8);
}

.tab-led-strip .indicators .up {
    top: 0px;
    left: 2px;  
}

.tab-led-strip .indicators .down {
    bottom: 17px;
    right: 10px; 
}

.tab-led-strip .dir-n .north {display: inline;}
.tab-led-strip .dir-s .south {display: inline;}
.tab-led-strip .dir-e .east {display: inline;}
.tab-led-strip .dir-w .west {display: inline;}
.tab-led-strip .dir-u .up {display: inline;}
.tab-led-strip .dir-d .down {display: inline;}

.tab-led-strip .controls {
    position: relative;
    float: left;
    width: 290px;
    height: calc((30px + 8px) * 16);
}

.tab-led-strip .directions,
.tab-led-strip .colors {
    height: 130px;
    position: relative;
	display: inline-block;
    width: 49%;
}

.tab-led-strip .directions button {
    position: absolute;
    width: 30px;
    height: 30px;
}

.tab-led-strip .directions .dir-n {top: 0; left: 32px;}
.tab-led-strip .directions .dir-s {top: 64px; left: 32px;}
.tab-led-strip .directions .dir-e {left: 64px; top: 32px;}
.tab-led-strip .directions .dir-w {left: 0; top: 32px;}
.tab-led-strip .directions .dir-u {right: 10px; top: 15px;}
.tab-led-strip .directions .dir-d {right: 10px; top: 54px;}

.tab-led-strip .colors button {
    width: 23%;
}

.tab-led-strip .wires-remaining {
    float: right;
    text-align: center;
    font-size: 14px;
}

.tab-led-strip .wires-remaining div {
    font-size: 40px;
    color: #7AAE2D;
    font-family: monospace;
}

.tab-led-strip .wires-remaining.error div {
    color: #FF5700;
}

.tab-led-strip > .buttons {
    margin-top: 10px;
}

.tab-led-strip .save {
    display: block;
    float: right;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}

.tab-led-strip.save:hover {
    background-color: #dedcdc;
}

.gridSections {
    position: absolute;
    z-index: -1;
    width: 608px;
    border: 1px solid rgb(236, 236, 236);
    margin-top: -1px;
    margin-left: -1px;
}

.gridSections .block {
    width: 150px;
    height: 150px;
    float: left;
    border: solid 1px rgb(236, 236, 236);
}





/*******JQUERYUI**********/

.tab-led-strip .ui-selected {
    box-shadow: inset 0 0 8px rgba(255, 0, 255, 1) !important;
    border: solid 2px #000 !important;
}

.tab-led-strip .ui-selecting {
    box-shadow: inset 0 0 30px rgba(255, 0, 255, .7) !important;
    border: solid 2px #000 !important;
}

.tab-led-strip .ui-selectable-helper {
    background: rgba(0,0,0,.4);
    position: absolute;
    z-index: 100;
    border: 1px dotted white;   
}
