.tab-loading {
    width: 100%;
    height: 100%;

    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.tab-loading p {
    position: relative;
    top: calc(50% + 50px);

    text-align: center;
    font-weight: bold;
}