.tab-motors .plot_control {
    float: right;

    width: 158px;

    border: 1px solid silver;
}
.tab-motors .plot_control .title {
    line-height: 20px;
    font-weight: bold;
    text-align: center;

    border-bottom: 1px solid silver;
    background-color: #ececec;
}
.tab-motors .plot_control .title a:hover {
    text-decoration: underline;
}
.tab-motors .plot_control dl {
    padding: 5px 5px 0 5px;
    line-height: 22px;
}
.tab-motors .plot_control dt {
    float: left;

    width: 60px;
    height: 22px;

    font-weight: bold;
}
.tab-motors .plot_control dd {
    height: 22px;
}
.tab-motors .plot_control select {
    float: right;

    width: 80px;
    border: 1px solid silver;
}
.tab-motors .plot_control .x {
    color: #00A8F0;
}
.tab-motors .plot_control .y {
    color: #C0D800;
}
.tab-motors .plot_control .z {
    color: #CB4B4B;
}
.tab-motors .plot_control .x, .tab-motors .plot_control .y, .tab-motors .plot_control .z {
    text-align: right;
}
.tab-motors svg {
    float: left;

    width: calc(100% - 168px); /* - (plot control, margin)*/
    height: 140px;

    margin-bottom: 10px;
}
.tab-motors .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.tab-motors .grid path {
    stroke-width: 0;
}
.tab-motors .data .line {
    stroke-width: 2px;
    fill: none;
}
.tab-motors .axis path, .tab-motors .axis line {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.tab-motors .line:nth-child(1) {
    stroke: #00A8F0;
}
.tab-motors .line:nth-child(2) {
    stroke: #C0D800;
}
.tab-motors .line:nth-child(3) {
    stroke: #CB4B4B;
}

.tab-motors .left.motors {
    float: left;

    width: calc(50% - 50px);
}
.tab-motors .right.servos {
    float: right;

    width: 50%;
}
.tab-motors .title {
    padding-bottom: 2px;

    text-align: center;
    font-weight: bold;
}
.tab-motors .titles {
    height: 20px;
}
.tab-motors .titles li {
    float: left;

    width: calc((100% / 9) - 10px);
    margin-right: 10px;

    text-align: center;
}
.tab-motors .servos .titles li {
    float: right;

    width: calc((100% / 8) - 10px);

    margin: 0 0 0 10px;
}
.tab-motors .titles .active {
    color: green;
}
.tab-motors .m-block {
    float: left;

    width: calc((100% / 9) - 12px);
    height: 100px;

    margin-right: 10px;

    text-align: center;

    border: 1px solid silver;
    background-color: #f4f4f4;
}
.tab-motors .m-block .meter-bar {
    position: relative;

    width: 100%;
    height: 100px;
}
.tab-motors .m-block .label {
    position: absolute;
    width: 100%;
    bottom: 45px;

    text-align: center;
    font-weight: bold;
    color: #474747;
}
.tab-motors .m-block .indicator .label {
    color: white;
}
.tab-motors .servos .m-block {
    float: right;

    width: calc((100% / 8) - 12px);

    margin: 0 0 0 10px;
}
.tab-motors .indicator {
    position: absolute;
    overflow: hidden;

    width: 100%;

    text-align: center;
}
.tab-motors .motor_testing {
    margin-top: 15px;
}
.tab-motors .motor_testing .left {
    width: calc(50% - 50px);
}
.tab-motors .motor_testing .sliders input {
    -webkit-appearance: slider-vertical;

    width: calc((100% / 9) - 13px);
    height: 100px;

    margin-right: 10px;
}
.tab-motors .motor_testing .sliders input:first-child {
    /* margin-left: 2px; */ /* seems to vary depending on chrome version O.o */
}
.tab-motors .motor_testing .values {
    margin-top: 5px;
}
.tab-motors .motor_testing .values li {
    float: left;

    width: calc((100% / 9) - 10px);
    margin-right: 10px;

    text-align: center;
}
.tab-motors .motor_testing .notice {
    float: right;

    width: calc(50% - 22px);

    padding: 5px;

    border: 1px dotted silver;
}
.tab-motors .motor_testing .notice input[type="checkbox"] {
    vertical-align: middle;
}