.tab-motor_outputs .plot_control {
    float: right;

    width: 158px;

    border: 1px solid silver;
}
    .tab-motor_outputs .plot_control .title {
        line-height: 20px;
        font-weight: bold;
        text-align: center;

        border-bottom: 1px solid silver;
        background-color: #ececec;
    }
    .tab-motor_outputs .plot_control .title a:hover {
        text-decoration: underline;
    }
    .tab-motor_outputs .plot_control dl {
        padding: 5px 0 0 5px;
        line-height: 22px;
    }
    .tab-motor_outputs .plot_control dt {
        float: left;

        width: 60px;
        height: 22px;

        font-weight: bold;
    }
    .tab-motor_outputs .plot_control dd {
        margin-left: 20px;
        height: 22px;
    }
    .tab-motor_outputs .plot_control .x {
        color: #00A8F0;
    }
    .tab-motor_outputs .plot_control .y {
        color: #C0D800;
    }
    .tab-motor_outputs .plot_control .z {
        color: #CB4B4B;
    }
    .tab-motor_outputs .plot_control .x, .tab-motor_outputs .plot_control .y, .tab-motor_outputs .plot_control .z {
        text-align: right;
        margin-right: 25px;
    }
.tab-motor_outputs select {
    width: 70px;
    border: 1px solid silver;
}
.tab-motor_outputs svg {
    float: left;

    width: calc(100% - 168px); /* - (plot control, margin)*/
    height: 140px;

    margin-bottom: 10px;
}
.tab-motor_outputs .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.tab-motor_outputs .grid path {
    stroke-width: 0;
}
.tab-motor_outputs .data .line {
    stroke-width: 2px;
    fill: none;
}
.tab-motor_outputs .axis path, .tab-motor_outputs .axis line {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.tab-motor_outputs .line:nth-child(1) {
    stroke: #00A8F0;
}
.tab-motor_outputs .line:nth-child(2) {
    stroke: #C0D800;
}
.tab-motor_outputs .line:nth-child(3) {
    stroke: #CB4B4B;
}

.tab-motor_outputs .left.motors {
    float: left;

    width: calc(50% - 50px);
}
.tab-motor_outputs .right.servos {
    float: right;

    width: 50%;
}
.tab-motor_outputs .title {
    padding-bottom: 2px;

    text-align: center;
    font-weight: bold;
}
.tab-motor_outputs .titles {
    height: 20px;
}
    .tab-motor_outputs .titles li {
        float: left;

        width: calc((100% / 9) - 10px);
        margin-right: 10px;

        text-align: center;
    }
    .tab-motor_outputs .servos .titles li {
        float: right;

        width: calc((100% / 8) - 10px);

        margin: 0 0 0 10px;
    }
    .tab-motor_outputs .titles .active {
        color: green;
    }
.tab-motor_outputs .m-block {
    float: left;

    width: calc((100% / 9) - 12px);
    height: 100px;

    margin-right: 10px;

    border: 1px solid silver;
    background-color: #e9e9e9;
}
.tab-motor_outputs .servos .m-block {
    float: right;

    width: calc((100% / 8) - 12px);

    margin: 0 0 0 10px;
}
.tab-motor_outputs .indicator {
    float: left;

    width: 100%;
}
.tab-motor_outputs .motor_testing {
    display: none;
    margin-top: 15px;
}
    .tab-motor_outputs .motor_testing .left {
        width: calc(50% - 50px);
    }
        .tab-motor_outputs .motor_testing .sliders input {
            -webkit-appearance: slider-vertical;

            width: calc((100% / 9) - 13px);
            height: 100px;

            margin-right: 10px;
        }
        .tab-motor_outputs .motor_testing .sliders input:first-child {
            /* margin-left: 2px; */ /* seems to vary depending on chrome version O.o */
        }
    .tab-motor_outputs .motor_testing .values {
        margin-top: 5px;
    }
        .tab-motor_outputs .motor_testing .values li {
            float: left;

            width: calc((100% / 9) - 10px);
            margin-right: 10px;

            text-align: center;
        }
    .tab-motor_outputs .motor_testing .notice {
        float: right;

        width: calc(50% - 22px);

        padding: 5px;

        border: 1px dotted silver;
    }
        .tab-motor_outputs .motor_testing .notice input[type="checkbox"] {
            margin-left: 5px;

            vertical-align: middle;
        }