.tab-pid_tuning .rate-tpa th {
    background-color: #828885;
    padding: 4px;
    border-left: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: white;
    text-align: left;
}

.tab-pid_tuning .cf tr {
    background-color: #DEDEDE;
}

.tab-pid_tuning .cf th {
    border-right: solid 1px silver;
    height: 19px;
    font-weight: normal;
}

.tab-pid_tuning .cf th:last-child {
    border-right: 0px;
}

.tab-pid_tuning .cf td:first-child {
    border-bottom-left-radius: 3px;
}

.tab-pid_tuning .cf td:last-child {
    border-bottom-right-radius: 3px;
    border-right: 0px;
}

.tab-pid_tuning .cf input {
    margin: 4px;
    width: calc(100% - 10px);
    border: 1px solid silver;
    border-radius: 3px;
}

.tab-pid_tuning .cf select {
    margin: 4px;
    width: calc(100% - 10px);
    border: 1px solid silver;
}

.tab-pid_tuning .rate-tpa th:nth-child(2) {
    border-top-left-radius: 3px;
}

.tab-pid_tuning .rate-tpa th:first-child {
    border-top-left-radius: 3px;
}

.tab-pid_tuning .rate-tpa th:last-child {
    border-top-right-radius: 3px;
}

.tab-pid_tuning .rate-tpa {
    /*border: 0px solid #ccc; */
    margin-bottom: 10px;
}

.tab-pid_tuning input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-pid_tuning table {
    float: left;
    margin: 0px;
    border-collapse: collapse;
    width: calc(100% - -1px);
}

.tab-pid_tuning .gui_box {
    margin-bottom: 0px;
}

.tab-pid_tuning table, .tab-pid_tuning table td {
    padding: 1px;
    border-bottom: 0px solid #ccc;
}

.tab-pid_tuning table th {
    padding: 0px;
    border: 0px;
    height: 10px;
    font-weight: normal;
}

.tab-pid_tuning .pid_titlebar th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ccc;
    width: calc(100% -1px);
}

.tab-pid_tuning .pid_titlebar th:first-child {
    text-align: left;
}

.tab-pid_tuning .pid_titlebar th:last-child {
    border-right: none;
}

.tab-pid_tuning table tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.tab-pid_tuning table tr td:last-child {
    border-right: 0px solid #ccc;
}

.tab-pid_tuning table td {
    padding: 1px;
    width: 25%;
    border-right: 1px solid #ccc;
}

.tab-pid_tuning table tr td {
    text-align: left;
    padding-left: 0px;
}

.tab-pid_tuning table input {
    display: block;
    width: calc(100% - 0px);
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 0px solid #ccc;
    border-radius: 0px;
}

.tab-pid_tuning .controller {
    float: left;
    width: calc(35% - 2px);
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tab-pid_tuning .controller .head {
    display: block;
    text-align: left;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #828885;
    color: white;
    height: 19px;
    font-weight: normal;
    padding: 2px;
    padding-left: 6px;
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
}

.tab-pid_tuning .controller select {
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.tab-pid_tuning .profile {
    float: left;
    width: calc(25% - 2px); /* - border*/
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tab-pid_tuning .profile .head {
    display: block;
    text-align: left;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #828885;
    color: white;
    height: 19px;
    font-weight: normal;
    padding: 2px;
    padding-bottom: 3px;
    padding-left: 6px;
}

.tab-pid_tuning .profile select {
    width: 100%;
    padding-left: calc(100% - 35px);
    height: 20px;
    line-height: 20px;
}

.tab-pid_tuning .pid_tuning .name {
    width: 25%;
}

.tab-pid_tuning .proportional {
    width: 25%;
}

.tab-pid_tuning .integral {
    width: 25%;
}

.tab-pid_tuning .derivative {
    width: 25%;
}

.tab-pid_tuning .rate-tpa {
    float: right;
    width: calc(100% - 2px); /* - ( "virtual" margin) */
}

.tab-pid_tuning .top-buttons {
    float: right;
}

.tab-pid_tuning .fixed_band {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.pid_mode {
    width: calc(100% - 5px);
    height: 20px;
    background-color: #D6D6D6;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-left: 5px;
    line-height: 13px;
    padding-top: 8px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    color: #828282;
    font-family: 'open_sans', Arial;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 20%,
        rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 30%, transparent 30%, transparent 40%,
        rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent 60%,
        rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 70%, transparent 70%, transparent 80%,
        rgba(255, 255, 255, .2) 80%, rgba(255, 255, 255, .2) 90%, transparent 90%, transparent 100%,
        rgba(255, 255, 255, .2) 100%, transparent);
}

.pid_titlebar {
    color: #fff;
    background-color: #828885;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 20px;
}

.pid_titlebar td:first-child {
    text-align: left;
}

.show {
    width:110px; 
    float:right; 
    margin-right:3px;
}
    
.show a {
    margin-left: 10px;
    width: calc(100% - 10px);
}

.tab-pid_tuning .helpicon {
    margin-top: -1px;
}

.tab-pid_tuning .number .helpicon {
    margin-top: 3px;
    margin-right: 0px;
}

.tab-pid_tuning .gui_box_titlebar .helpicon {
    margin-top: 5px;
    margin-right: 5px;
}

.tab-pid_tuning .spacer_left {    
    padding-left: 15px;
    float: right;
    width: calc(100% - 20px)
}

.tab-pid_tuning .numberspacer {
    float: left;
    width: 65px;
    height: 21px;
}

.tab-pid_tuning .number {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
}

.tab-pid_tuning .number:last-child {
    padding-bottom: 5px;
    border-bottom: 0px;
}

.tab-pid_tuning .number input {
    width: 50px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    margin-right: 11px;
    font-weight: normal;
}

.tab-pid_tuning .gui_box span {
    font-style: normal;
    font-family: 'open_sansregular', Arial;
    line-height: 19px;
    color: #7d7d7d;
    font-size: 11px;
}
    
#content-watermark {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-image: url("../images/light-wide-2.svg");
    background-repeat: no-repeat;
    background-position: 95% 20%;
    background-size: 430px;
    height: 174px;
    opacity: 0.15;
}

.tab-pid_tuning .resetbt {
    width: 140px; 
    float: right;
}

.tab-pid_tuning .right {
    float: right;
}

.tab-pid_tuning .pids {
    float: left;
    width: 25%;
}

.tab-pid_tuning .leftzero {
    padding-left: 0px;
}

.tab-pid_tuning .tpa-breakpoint {
    border-top-left-radius: 0px;
}

.tab-pid_tuning .roll {
    border-bottom-left-radius: 3px;
}

.tab-pid_tuning .pidTuningLevel {
    float: left;
}

.tab-pid_tuning .borderleft {
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
}

.tab-pid_tuning .textleft {
    width: 25%; 
    float: left; 
    text-align: left;
}

.tab-pid_tuning .topspacer {
    margin-top:15px;
}