.tab-pid_tuning table {
    width: 100%;
    border-collapse: collapse;    
}
    .tab-pid_tuning table, .tab-pid_tuning table th, .tab-pid_tuning table td {
        padding: 4px;
        border: 1px solid #8b8b8b;
    }
    .tab-pid_tuning table tr:nth-child(odd) {
        background-color: #ececec;
    }    
    .tab-pid_tuning table input {
        width: 130px;
        height: 20px;
        line-height: 20px;
        
        padding: 0 5px 0 5px;
        border: 1px solid silver;
        text-align: right;
    }
    .tab-pid_tuning .update {
        display: block;
        float: right;
        
        margin-top: 20px;
        
        height: 28px;
        line-height: 28px;
        
        padding: 0 15px 0 15px;
        
        text-align: center;
        font-weight: bold;
        
        border: 1px solid silver;
        background-color: #ececec;
    }
    .tab-pid_tuning .update:hover {
        background-color: #dedcdc;
    }
    .tab-pid_tuning .rate-tpa {
        float: left;
        width: 400px;
        margin-top: 20px;
    }