.tab-pid_tuning {
}
.tab-pid_tuning input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}
.tab-pid_tuning table {
    float: left;

    margin-bottom: 10px;

    border-collapse: collapse;
}
.tab-pid_tuning table,
.tab-pid_tuning table th,
.tab-pid_tuning table td {
    padding: 4px;
    border: 1px solid #8b8b8b;
}
.tab-pid_tuning table tr td:first-child {
    text-align: center;
}
.tab-pid_tuning table td {
    padding: 1px;
}
.tab-pid_tuning table tr:nth-child(odd) {
    background-color: #ececec;
}
.tab-pid_tuning table input {
    display: block;

    width: 100%;
    height: 20px;
    line-height: 20px;

    text-align: right;
}
.tab-pid_tuning .profile {
    float: left;

    width: calc(18% - 2px); /* - border*/

    border: 1px solid #8b8b8b;
}
.tab-pid_tuning .profile .head {
    display: block;

    text-align: center;
    line-height: 20px;
    font-weight: bold;

    border-bottom: 1px solid #8b8b8b;
    background-color: #ececec;
}
.tab-pid_tuning .profile select {
    width: 100%;
    padding-left: calc(100% - 35px);
    height: 20px;
    line-height: 20px;
}
.tab-pid_tuning .pid_tuning {
    width: 60%;
}
.tab-pid_tuning .pid_tuning .name {
    width: 30%;
}
.tab-pid_tuning .rate-tpa {
    float: right;
    width: calc(40% - 10px); /* - ( "virtual" margin) */
}
.tab-pid_tuning .buttons {
    width: calc(100% - 20px);

    position: absolute;
    bottom: 10px;
}
.tab-pid_tuning .update,
.tab-pid_tuning .refresh {
    display: block;
    float: right;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-pid_tuning .refresh {
    margin-right: 10px;
}
.tab-pid_tuning .update:hover,
.tab-pid_tuning .refresh:hover {
    background-color: #dedcdc;
}