.tab-ports {
    position: relative;
}

#tab-ports-templates {
    display: none;
}



.tab-ports table {
    margin-bottom: 10px;
	width:100%;
	
    border-collapse:collapse;
}
.tab-ports table,
.tab-ports table th,
.tab-ports table td {
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-right:1px solid #e4e4e4;
	border-left:1px solid #e4e4e4;

}
.tab-ports table tr td:first-child {
    text-align: left;
	
}
table.ports tr:first-child td:first-child { border-top-left-radius: 0px; 
 } 
table.ports tr:first-child td:last-child { border-top-right-radius: 0px; } 




.tab-ports table td {
	border-bottom:1px solid #e4e4e4;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	padding-right:5px;
	}


.tab-ports table thead tr:first-child,
.tab-ports table tr:nth-child(even) {
    background-color:#f9f9f9; }


.tab-ports table thead tr:first-child {
	background-color:#e4e4e4;
	font-size:14px;
	height:25px;
	font-family: 'open_sansregular', Arial;
	
	
}

.tab-ports .function input {
    vertical-align: -2px;
}

.tab-ports .function label {
    margin-right: 5px;
}

.tab-ports select {
    border: 1px solid silver;
}

.tab-ports .save {
    display: block;
    float: right;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-ports .save:hover {
    background-color: #dedcdc;
}


.tab-ports .require-support {
    display:none;
}
.tab-ports.supported .require-support {
    display:block;
}
.tab-ports .require-upgrade {
    display:block;
}
.tab-ports.supported .require-upgrade {
    display:none;
}




@media only screen and (max-width: 1055px), only screen and (max-device-width: 1055px) {


.tab-ports table thead tr:first-child {
    font-size: 12px;
    height: 22px;
}

.tab-ports .fixed_band {
    position: relative;
    height: 50px;
    background-color: #e4e4e4;
    width: calc(100% -20px);
    margin-left: 0px;
    box-shadow: rgba(0,0,0,0.00) 0 -3px 8px;
    bottom: 0px;
    margin-bottom: 0px;
}


}
