.tab-sensors {
}
    .tab-sensors .plot_control {
        float: right;

        width: 178px;

        border: 1px solid silver;
    }
        .tab-sensors .plot_control .title {
            line-height: 20px;
            font-weight: bold;
            text-align: center;

            border-bottom: 1px solid silver;
            background-color: #ececec;
        }
        .tab-sensors .plot_control dl {
            padding: 5px 0 0 5px;
            line-height: 22px;
        }
        .tab-sensors .plot_control dt {
            float: left;

            width: 60px;
            height: 22px;

            font-weight: bold;
        }
        .tab-sensors .plot_control dd {
            margin-left: 20px;
            height: 22px;
        }
    .tab-sensors select {
        width: 70px;
        border: 1px solid silver;
    }
/* SVG classes*/
.tab-sensors svg {
    float: right;

    width: 720px;
    height: 140px;

    margin-bottom: 10px;
}
.tab-sensors .grid .tick {
    stroke: silver;
    shape-rendering: crispEdges;
}
.tab-sensors .line {
    stroke-width: 2px;
    fill: none;
}
.tab-sensors .grid path {
    stroke-width: 0;
}
.tab-sensors .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.tab-sensors .line:nth-child(1) {
    stroke: #00A8F0;
}
.tab-sensors .line:nth-child(2) {
    stroke: #C0D800;
}
.tab-sensors .line:nth-child(3) {
    stroke: #CB4B4B;
}
.tab-sensors .line:nth-child(4) {
    stroke: #4DA74D;
}
.tab-sensors .legend .item:nth-child(1) {
    fill: #00A8F0;
}
.tab-sensors .legend .item:nth-child(2) {
    fill: #C0D800;
}
.tab-sensors .legend .item:nth-child(3) {
    fill: #CB4B4B;
}
.tab-sensors .legend .item:nth-child(4) {
    fill: #4DA74D;
}
