.tab-sensors .info {
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 10px;
}

.tab-sensors .info input {
    vertical-align: middle;
    margin: 0 5px 0 15px;
}

.tab-sensors .info .first {
    margin: 0 5px 0 0;
}

.tab-sensors .wrapper {
    display: none;
}

.tab-sensors .plot_control {
    float: right;
    width: 160px;
    /* border: 1px solid silver; */
    height: 100%;
    height: 160px;
    margin: 0px;
    background-color: #ECECEC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tab-sensors .plot_control .title {
    line-height: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}

.tab-sensors .plot_control dl {
    padding: 10px 10px 0 10px;
    line-height: 22px;
    float: left;
}

.tab-sensors .plot_control dt {
    float: left;
    width: 60px;
    height: 22px;
    font-weight: bold;
}

.tab-sensors .plot_control dd {
    /* margin-left: 20px; */
    height: 25px;
    float: right;
    width: 73px;
}

.tab-sensors .plot_control select {
    float: right;
    width: 80px;
    border: 1px solid silver;
}

.tab-sensors .plot_control .x {
    background-color: #00A8F0;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
}

.tab-sensors .plot_control .y {
    background-color: #C0D800;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
}

.tab-sensors .plot_control .z {
    background-color: #CB4B4B;
    padding: 3px;
    color: #fff;
    height: 12px;
    float: right;
    border-radius: 3px;
    line-height: 12px;
    margin-bottom: 2px;
}

.tab-sensors .plot_control .x, .tab-sensors .plot_control .y, .tab-sensors .plot_control .z {
    text-align: right;
}
/* SVG classes*/
.tab-sensors svg {
    float: left;
    width: calc(100% - 180px);
    height: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.tab-sensors .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-sensors .grid path {
    stroke-width: 0;
}

.tab-sensors .data .line {
    stroke-width: 2px;
    fill: none;
}

.tab-sensors .axis path, .tab-sensors .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-sensors text {
    stroke: none;
    fill: #828885;
    font-size: 10px;
}

.tab-sensors .line:nth-child(1) {
    stroke: #00A8F0;
}

.tab-sensors .line:nth-child(2) {
    stroke: #C0D800;
}

.tab-sensors .line:nth-child(3) {
    stroke: #CB4B4B;
}

.tab-sensors .line:nth-child(4) {
    stroke: #4DA74D;
}

.tab-sensors .legend .item:nth-child(1) {
    fill: #00A8F0;
}

.tab-sensors .legend .item:nth-child(2) {
    fill: #C0D800;
}

.tab-sensors .legend .item:nth-child(3) {
    fill: #CB4B4B;
}

.tab-sensors .legend .item:nth-child(4) {
    fill: #4DA74D;
}