.tab-ports {
    position: relative;
}

#tab-ports-templates {
    display: none;
}

.tab-ports table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}

.tab-ports table, .tab-ports table th, .tab-ports table td {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tab-ports table tr td:first-child {
    text-align: left;
}

.tab-ports table td {
    border-bottom: 1px solid #e4e4e4;
    padding: 6px 5px 7px 5px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.tab-ports table thead tr:first-child, .tab-ports table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tab-ports table thead tr:first-child {
    background-color: #e4e4e4;
    font-size: 12px;
    height: 25px;
    font-family: 'open_sansregular', Arial;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.tab-ports .function input {
    vertical-align: -2px;
}

.tab-ports .function label {
    margin-right: 5px;
}

.tab-ports select {
    border: 1px solid silver;
    margin-right: 3px;
}

.tab-ports .require-support {
    display: none;
}

.tab-ports.supported .require-support {
    display: block;
}

.tab-ports .require-upgrade {
    display: block;
}

.tab-ports.supported .require-upgrade {
    display: none;
}

.tab-ports .ports thead td {
    text-align: left;
    white-space: nowrap;
    padding: 5px 7px;
    background-color: #828885;
    color: white;
}

.tab-ports .ports thead td:first-child {
    border-top-left-radius: 5px;
    border-left: 0px;
}

.tab-ports .ports thead td:last-child {
    border-top-right-radius: 5px;
    border-right: 0px;
}

.tab-ports .spacebottom {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-ports table thead tr:first-child {
        font-size: 12px;
        height: 22px;
    }
}