# Description: ALIENFLIGHTNGF7 Standard target configuration

# Betaflight / STM32F7X2 (S7X2) 4.0.0 Mar  2 2019 / 07:04:57 (29db27584) MSP API: 1.41

board_name ALIENFLIGHTNGF7
manufacturer_id AFNG

defaults nosave

# Basic I/O
resource LED 1 C12
resource LED 2 D02
resource BEEPER 1 C13
set beeper_inversion = ON
set beeper_od = OFF

# Buses
resource I2C_SCL 1 B06
resource I2C_SDA 1 B07
set i2c1_pullup = ON

resource SPI_SCK 1 A05
resource SPI_MISO 1 A06
resource SPI_MOSI 1 A07

resource SPI_SCK 2 B13
resource SPI_MISO 2 C02
resource SPI_MOSI 2 C03

resource SPI_SCK 3 B03
resource SPI_MISO 3 B04
resource SPI_MOSI 3 B05

# Acc/gyro
resource GYRO_CS 1 A04
resource GYRO_EXTI 1 C14
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW270

# Compass
resource COMPASS_CS 1 C15
set mag_bustype = SPI
set mag_spi_device = 3
set align_mag = CW180FLIP

# Baro
resource BARO_CS 1 A15
set baro_bustype = SPI
set baro_spi_device = 3

# SDCard
resource SDCARD_CS 1 B10
resource SDCARD_DETECT 1 B11
set sdcard_detect_inverted = ON
set sdcard_mode = SPI
set sdcard_spi_bus = 2
dma SPI_TX 2 0

# SPI Flash
resource FLASH_CS 1 B12
set flash_spi_bus = 2

# OSD
resource OSD_CS 1 B12
set max7456_spi_bus = 3

# Timers
# timer is zero origin
timer A08 0
timer C06 1
timer C07 0
timer B14 1
timer B00 0
timer A00 1
timer C08 1
timer A01 1
timer C09 1
timer B01 1
timer B15 0
timer B08 0
timer B09 0
resource MOTOR 1 C06
resource MOTOR 2 C07
resource MOTOR 3 B14
resource MOTOR 4 B00
resource MOTOR 5 A00
resource MOTOR 6 C08
resource MOTOR 7 A01
resource MOTOR 8 C09
resource LED_STRIP 1 A08
resource PPM 1 A08

# DMA
dma SPI_TX 2 0   # SPI_TX 2: DMA1 Stream 4 Channel 0
dma ADC 1 0      # ADC 1:    DMA2 Stream 0 Channel 0
dma pin A08 1    # pin A08:  DMA2 Stream 1 Channel 6
dma pin C06 0    # pin C06:  DMA2 Stream 2 Channel 0
dma pin C07 0    # pin C07:  DMA1 Stream 5 Channel 5
dma pin B14 1    # pin B14:  DMA2 Stream 3 Channel 7
dma pin B00 0    # pin B00:  DMA1 Stream 7 Channel 5
dma pin A00 0    # pin A00:  DMA1 Stream 2 Channel 6
dma pin C08 1    # pin C08:  DMA2 Stream 4 Channel 7
dma pin A01 0    # pin A01:  DMA1 Stream 4 Channel 6
dma pin C09 0    # pin C09:  DMA2 Stream 7 Channel 7
dma pin B01 0    # pin B01:  DMA1 Stream 2 Channel 5
dma pin B15 0    # pin B15:  DMA2 Stream 6 Channel 0
dma pin B08 0    # pin B08:  DMA1 Stream 7 Channel 2

# DMA stream conflict if burst mode is not used
# XXX Need a mechanism to specify dma
set dshot_burst = ON

# Serial ports
resource SERIAL_TX 1 A09
resource SERIAL_RX 1 A10

resource SERIAL_TX 2 A02
resource SERIAL_RX 2 A03

resource SERIAL_TX 4 C10
resource SERIAL_RX 4 C11

# ADC
resource ADC_BATT 1 C00
resource ADC_RSSI 1 C04
resource ADC_CURR 1 C01

# Remaining
resource RX_BIND_PLUG 1 B02
resource ESCSERIAL 1 A08

# Some configs
feature RX_SERIAL
feature MOTOR_STOP
map TAER1234
serial 0 0 115200 57600 0 115200
serial 1 64 115200 57600 0 115200
serial 3 0 115200 57600 0 115200
set serialrx_provider = SPEK2048
set spektrum_sat_bind = 5
set blackbox_device = SDCARD
set adc_device = 1
set battery_meter = ADC
