# Betaflight / BEEROTORF4 (BRF4) 4.0.0 Mar  3 2019 / 15:29:39 (f4cbe85a2) MSP API: 1.41

board_name BEEROTORF4
manufacturer_id RCTI

# resources
resource BEEPER 1 B03
resource MOTOR 1 B00
resource MOTOR 2 B01
resource MOTOR 3 A01
resource MOTOR 4 A00
resource MOTOR 5 C06
resource MOTOR 6 C07
resource MOTOR 7 B05
resource MOTOR 8 B09
resource PPM 1 A03
resource LED_STRIP 1 B08
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource INVERTER 2 C15
resource INVERTER 3 C14
resource I2C_SCL 1 B06
resource I2C_SDA 1 B07
resource LED 1 B04
resource RX_BIND_PLUG 1 NONE
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 C10
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MISO 3 C11
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15
resource SPI_MOSI 3 C12
resource ESCSERIAL 1 A03
resource ADC_BATT 1 C00
resource ADC_RSSI 1 C02
resource ADC_CURR 1 C01
resource SDCARD_CS 1 B12
resource SDCARD_DETECT 1 C03
resource OSD_CS 1 A15
resource GYRO_EXTI 1 A08
resource GYRO_CS 1 A04
resource GYRO_CS 2 NONE
resource USB_DETECT 1 C05

# timer
timer A03 2
timer B00 0
timer B01 0
timer A01 0
timer A00 0
timer C06 1
timer C07 1
timer B05 0
timer B09 0
timer B08 0

# dma
dma SPI_TX 2 0
# SPI_TX 2: DMA1 Stream 4 Channel 0
dma SPI_TX 3 0
# SPI_TX 3: DMA1 Stream 5 Channel 0
dma SPI_RX 3 0
# SPI_RX 3: DMA1 Stream 0 Channel 0
dma ADC 1 0
# ADC 1: DMA2 Stream 0 Channel 0
dma pin B00 0
# pin B00: DMA2 Stream 6 Channel 0
dma pin B01 0
# pin B01: DMA2 Stream 6 Channel 0
dma pin A01 0
# pin A01: DMA1 Stream 6 Channel 3
dma pin A00 0
# pin A00: DMA1 Stream 5 Channel 3
dma pin C06 0
# pin C06: DMA2 Stream 2 Channel 0
dma pin C07 0
# pin C07: DMA2 Stream 2 Channel 0
dma pin B05 0
# pin B05: DMA1 Stream 5 Channel 5
dma pin B08 0
# pin B08: DMA1 Stream 7 Channel 2

# feature
feature -RX_PARALLEL_PWM
feature RX_SERIAL
feature OSD

serial 1 64 115200 57600 0 115200

# master
set baro_bustype = I2C
set baro_i2c_device = 1
set baro_i2c_address = 0
set serialrx_provider = SBUS
set adc_device = 1
set dshot_burst = ON
set motor_pwm_protocol = ONESHOT125
set current_meter = ADC
set battery_meter = ADC
set beeper_inversion = ON
set beeper_od = OFF
set sdcard_detect_inverted = ON
set sdcard_mode = SPI
set sdcard_spi_bus = 2
set system_hse_mhz = 8
set max7456_spi_bus = 3
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW270
