# Betaflight / STM32F745 (S745) 4.0.0 Mar 10 2019 / 21:49:53 (d6138c41e) MSP API: 1.41

board_name CLRACINGF7
manufacturer_id CLRA

# BEEPER
resource BEEPER 1 PB4
set beeper_inversion = ON
set beeper_od = OFF

# INDICATOR LED
resource LED 1 B00

#MOTOR AND LED
resource MOTOR 1 B06
resource MOTOR 2 B07
resource MOTOR 3 B08
resource MOTOR 4 B09
resource MOTOR 5 B01
resource LED_STRIP 1 B01

# UARTS 
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 4 A00
resource SERIAL_TX 5 C12
resource SERIAL_TX 6 C06
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource SERIAL_RX 4 A01
resource SERIAL_RX 5 D02
resource SERIAL_RX 6 C07

#SPI BUS
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 C10
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MISO 3 C11
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15
resource SPI_MOSI 3 B05

#ADC
resource ADC_BATT 1 C02
resource ADC_RSSI 1 C03
resource ADC_CURR 1 C01
set current_meter = ADC
set battery_meter = ADC

#SPI FLASH
resource FLASH_CS 1 B03
set flash_spi_bus = 2

#OSD
resource OSD_CS 1 A15
set max7456_spi_bus = 3

#GYRO
resource GYRO_EXTI 1 C04
resource GYRO_CS 1 A04
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0

# timer
timer B03 0
timer B06 0
timer B07 0
timer B08 0
timer B09 0
timer B01 1

# dma
dma ADC 1 1        # ADC 1: DMA2 Stream 4 Channel 0
dma pin B03 0      # pin B03: DMA1 Stream 6 Channel 3
dma pin B06 0      # pin B06: DMA1 Stream 0 Channel 2
dma pin B07 0      # pin B07: DMA1 Stream 3 Channel 2
dma pin B08 0      # pin B08: DMA1 Stream 7 Channel 2
dma pin B01 0      # pin B01: DMA1 Stream 2 Channel 5

# master
set system_hse_mhz = 8
set dashboard_i2c_bus = 1
resource RX_BIND_PLUG 1 B02
resource CAMERA_CONTROL 1 B03
