# Name: FF_RACEPIT
# Description: FuriousFPV RACEPIT with Blackbox Standard target configuration

# Betaflight / STM32F405 (S405) 4.0.0 Mar  2 2019 / 07:01:01 (29db27584) MSP API: 1.4

board_name FF_RACEPIT
manufacturer_id FFPV

defaults nosave

# Basic I/O
resource LED 1 B09
resource LED 2 B08
resource BEEPER 1 B03
set beeper_inversion = ON
set beeper_od = OFF
resource PINIO 1 C00
resource CAMERA_CONTROL 1 A10

# Buses
resource I2C_SCL 3 A08
resource I2C_SDA 3 C09
set i2c3_pullup = ON

resource SPI_SCK 1 A05
resource SPI_MISO 1 A06
resource SPI_MOSI 1 A07

resource SPI_SCK 2 B13
resource SPI_MISO 2 B14
resource SPI_MOSI 2 B15

resource SPI_SCK 3 B03
resource SPI_MISO 3 B04
resource SPI_MOSI 3 B05

# Acc/gyro
resource GYRO_CS 1 A04
resource GYRO_EXTI 1 C04
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW90FLIP

# SPI Flash
set flash_spi_bus = 3
resource FLASH_CS 1 A15

# OSD
resource OSD_CS 1 B12
set max7456_spi_bus = 2

# Timers
# timer is zero origin
timer B00 1
timer B01 1
timer B11 0
timer B10 0
timer A10 0
timer B06 0
resource MOTOR 1 B00
resource MOTOR 2 B01
resource MOTOR 3 B11
resource MOTOR 4 B10
resource LED_STRIP 1 B06

# DMA
dma ADC 2 1      # ADC 2:   DMA2 Stream 3 Channel 1
dma pin B06 0    # pin B06: DMA1 Stream 0 Channel 2 
dma pin B00 0    # pin B00: DMA1 Stream 7 Channel 5
dma pin B01 0    # pin B01: DMA1 Stream 2 Channel 5
dma pin B10 0    # pin B10: DMA1 Stream 1 Channel 3
dma pin B11 0    # pin B11: DMA1 Stream 7 Channel 3

set dshot_burst = ON
set motor_pwm_protocol = Dshot600

# Serial ports
resource SERIAL_TX 1 A09
resource SERIAL_RX 1 B07

resource SERIAL_TX 2 A02
resource SERIAL_RX 2 A03

resource SERIAL_TX 3 C10
resource SERIAL_RX 3 C11
resource INVERTER 3 C15

resource SERIAL_TX 4 A00
resource SERIAL_RX 4 A01

resource SERIAL_TX 5 C12
resource SERIAL_RX 5 D02

resource SERIAL_TX 6 C06
resource SERIAL_RX 6 C07

# ADC
resource ADC_BATT 1 C02
resource ADC_CURR 1 C01

# Remaining
resource ESCSERIAL 1 B00

# Some configs
feature RX_SERIAL
feature OSD
feature LED_STRIP
feature MOTOR_STOP
serial 0 0 115200 57600 0 115200
serial 1 0 115200 57600 0 115200
serial 2 64 115200 57600 0 115200
serial 3 0 115200 57600 0 115200
serial 4 0 115200 57600 0 115200
serial 5 0 115200 57600 0 115200
set pinio_box = 40,255,255,255
set tlm_halfduplex = OFF
set adc_device = 2
set battery_meter = ADC
set current_meter = ADC
