# Betaflight / NERO (NERO) 4.0.0 Mar  2 2019 / 22:47:50 (29db27584) MSP API: 1.41

board_name NERO
manufacturer_id BKMN

# resources
resource BEEPER 1 C01
resource MOTOR 1 A00
resource MOTOR 2 A01
resource MOTOR 3 A02
resource MOTOR 4 A03
resource MOTOR 5 B00
resource MOTOR 6 B01
resource MOTOR 7 C08
resource MOTOR 8 C09
resource PPM 1 C07
resource LED_STRIP 1 B00
resource SERIAL_TX 1 A09
resource SERIAL_TX 3 B10
resource SERIAL_TX 6 C06
resource SERIAL_RX 1 A10
resource SERIAL_RX 3 B11
resource SERIAL_RX 6 C07
resource I2C_SCL 1 B08
resource I2C_SDA 1 B09
resource LED 1 B06
resource LED 2 B05
resource LED 3 B04
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 C10
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MISO 3 C11
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15
resource SPI_MOSI 3 C12
resource ESCSERIAL 1 C07
resource ADC_BATT 1 C03
resource SDCARD_CS 1 A15
resource SDCARD_DETECT 1 D02
resource GYRO_EXTI 1 B02
resource GYRO_CS 1 C04

# timer
timer C07 0
timer A00 1
timer A01 1
timer A02 1
timer A03 1
timer B00 0
timer B01 1
timer C08 1
timer C09 1

# dmaopt
dmaopt ADC 1 1
# ADC 1: DMA2 Stream 4 Channel 0
dmaopt pin C07 0
# pin C07: DMA1 Stream 5 Channel 5
dmaopt pin A00 0
# pin A00: DMA1 Stream 2 Channel 6
dmaopt pin A01 0
# pin A01: DMA1 Stream 4 Channel 6
dmaopt pin A02 0
# pin A02: DMA1 Stream 0 Channel 6
dmaopt pin A03 0
# pin A03: DMA1 Stream 1 Channel 6
dmaopt pin B00 0
# pin B00: DMA1 Stream 7 Channel 5
dmaopt pin B01 0
# pin B01: DMA1 Stream 2 Channel 5
dmaopt pin C08 0
# pin C08: DMA2 Stream 2 Channel 0
dmaopt pin C09 0
# pin C09: DMA2 Stream 7 Channel 7

# feature
feature RX_SERIAL

# serial
serial 5 64 115200 57600 0 115200

# master
set serialrx_provider = SBUS
set dshot_burst = OFF
set battery_meter = ADC
set beeper_inversion = ON
set beeper_od = OFF
set sdcard_detect_inverted = ON
set sdcard_mode = SPI
set sdcard_spi_bus = 3
set system_hse_mhz = 8
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0
