# Usual lawyer stuff here?

# Description: NERO Standard target configuration

board_name NERO
manufacturer_id BKMN

defaults nosave

# External crystal frequency
set system_hse_mhz = 8

# Basic I/O
resource LED 1 B06
resource LED 2 B05
resource LED 3 B04
resource beeper C1
set beeper_inversion = ON
set beeper_od = OFF

# Buses
resource I2C_SCL 1 B08
resource I2C_SDA 1 B09

resource SPI_SCK 1 A05
resource SPI_MISO 1 A06
resource SPI_MOSI 1 A07

resource SPI_SCK 2 B13
resource SPI_MISO 2 B14
resource SPI_MOSI 2 B15

resource SPI_SCK 3 C10
resource SPI_MISO 3 C11
resource SPI_MOSI 3 C12

# Acc/gyro
resource gyro_cs 1 C4
resource GYRO_EXTI 1 B15
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0
#set gyro_1_hardware = MPU6500 # Not working (yet ... will it ever?)

# SDCard
resource SDCARD_CS 1 A15
resource SDCARD_DETECT 1 D02
set sdcard_detect_inverted = ON
set sdcard_mode = SPI
setsdcard_spi_bus = 3
#dma SPI_TX 3 0

# Timers
# First four timers
# timer is zero origin
timer A0 1
timer A1 1
timer A2 1
timer A3 1
resource MOTOR 1 A0
resource MOTOR 2 A1
resource MOTOR 3 A2
resource MOTOR 4 A3

# DMA stream conflict if burst mode is not used
# XXX Need a mechanism to specify dma
set dshot_burst = ON

# Remaining timers
timer B0 1
timer B1 1
timer C7 1
timer C8 1
timer C9 1
resource LED_STRIP B0
resource PPM C7

# Serial ports

resource SERIAL_TX 1 A9
resource SERIAL_RX 1 A10

resource SERIAL_TX 3 B10
resource SERIAL_RX 3 B11

resource SERIAL_TX 6 C6
resource SERIAL_RX 6 C7

# ADC

resource ADC_BATT 1 C03

# Remaining

resource ESCSERIAL 1 C07
resource SDCARD_CS 1 A15
resource SDCARD_DETECT 1 D02

# Some configs

FEATURE RX_SERIAL
set serialrx_provider = SBUS
serial 5 64 115200 57600 0 115200
set battery_meter = ADC
