# Betaflight / STM32F405 (S405) 4.1.0 May 22 2019 / 02:24:46 (1541466da) MSP API: 1.42

board_name OMNIBUSF4
manufacturer_id AIRB

# resources
resource LED_STRIP 1 A01
resource LED 1 B05

# timer
timer A01 AF2
# pin A01: TIM5 CH2 (AF2)

# dma
dma ADC 2 1
# ADC 2: DMA2 Stream 3 Channel 1
dma pin A01 0
# pin A01: DMA1 Stream 4 Channel 6

# master
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
