
board_name PYRODRONEF4
manufacturer_id PYRO

# resource
#BEEPER
resource BEEPER 1 B05

#MOTORS 
resource MOTOR 1 B01
resource MOTOR 2 B00
resource MOTOR 3 C09
resource MOTOR 4 A08

#LED_STRIP
resource LED_STRIP 1 B08

#UARTS
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 4 A00
resource SERIAL_TX 5 C12
resource SERIAL_TX 6 C06
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource SERIAL_RX 4 A01
resource SERIAL_RX 5 D02
resource SERIAL_RX 6 C07

#SBUS INVERTER PIN
resource INVERTER 1 C03

#INDICATOR LED
resource LED 1 B04

#SPI BUS
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15

#
resource ESCSERIAL 1 B09
resource CAMERA_CONTROL 1 B09
resource ADC_BATT 1 C02
resource ADC_CURR 1 C01

#OSD
resource OSD_CS 1 B12

#GYRO
resource GYRO_EXTI 1 C04
resource GYRO_CS 1 A04

# TIMER
timer B09 1
timer B01 1
timer B00 2
timer C09 1
timer A08 0
timer B08 0

# DMA
dma ADC 1 1    # ADC 1: DMA2 Stream 4 Channel 0
dma pin B01 0  # pin B01: DMA1 Stream 2 Channel 5
dma pin B00 0  # pin B00: DMA2 Stream 2 Channel 0
dma pin C09 0  # pin C09: DMA2 Stream 7 Channel 7
dma pin A08 1  # pin A08: DMA2 Stream 1 Channel 6
dma pin B08 0  # pin B08: DMA1 Stream 7 Channel 2

# master
set adc_device = 2
set current_meter  = ADC
set battery_meter = ADC
set beeper_inversion = ON
set beeper_od = OFF
set system_hse_mhz = 8
set max7456_spi_bus  = 2
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0