name: Release

on:
  release:
    types: [published]

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    with:
      release_build: true

  release:
    name: Release
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Fetch build artifacts
        uses: actions/download-artifact@v5

      - name: List assets
        run: ls -al Assets

      - name: Attach assets to release
        run: |
          set -x
          ASSETS=()
          for asset in ./*/*.hex; do
            ASSETS+=("$asset")
            echo "$asset"
          done
          TAG_NAME="${GITHUB_REF##*/}"
          gh release upload "${TAG_NAME}" "${ASSETS[@]}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
